---
title: Program
permalink: "/program/"
layout: default
image: /assets/photos/cs3sthlm-erwin-rik.jpg
---

<section class="content">

  {% include breadcrumbs.html %}

  <div class="content-header">
    <div class="col-4-8">
      <h4 class="sub-headline">Summit Program</h4>
      <h2 class="title title-yellow">The Program</h2>
    </div>

  </div>

  <div class="column-block column-block-bit">

    <div class="column-block-item col-4-8">
      <p>We will have multiple stages with the best international speakers and trainers, having excellent social activities and provide hard-to-earn knowledge, no matter if it is deeply technical matters, sucessful solutions or policy briefs.</p>
    </div>

  </div>

</section>

<section class="content">

  <div class="column-block column-block-bit">

    <div class="column-block-item col-8-8 spacing-bottom">

      <h3 class="headline">Speakers</h3>

    </div>

    <div class="column-block-item col-8-8">
      <div class="speakers-block">
      {% assign sorted_speakers = site.data.speakers | sample: 4 %}
      {% for speaker in sorted_speakers %}
      {% if speaker.type contains "presentation" or speaker.type contains "training" or speaker.type contains "moderator" or speaker.type contains "session" or speaker.type contains "keynote" %}
      <div class="speakers-block-item col-2-8">
        {% for item in speaker.speaker %}
        <img src="{{ site.baseurl }}/assets/speakers/{{ item.image }}-sq.png" class="speakers-block-item-image" />
        {% endfor %}
        <div class="speaker-block-item-data">
          {% for item in speaker.speaker %}
          <h3 class="speaker-name">{{ item.name }}</h3>
          <h4 class="speaker-role">{{ item.role }}</h4>
          {% endfor %}
        </div>
      </div>
      {% endif %}
      {% endfor %}
      </div>

      <a href="{{ site.baseurl}}/program/speakers/" class="button button-primary">View Speakers</a>

    </div>
  </div>

</section>

<!--
<section class="content">

  <div class="column-block column-block-bit program-training">

    <div class="column-block-item col-4-8">

      <h3 class="headline">Trainings</h3>
      <p>Between 21st and 22nd of October, the days before the summit, we will provide different full-day tutorials and training with world-renowned experts. We have tutorials in a number of different areas such as forensics in computers and in networks, introduction to cybersecurity standards, and information gathering.</p>

      <p class="spacing-bottom">The tutorials ranging from theoretical overviews via hands-on practical to highly technical classes.</p>

      <a href="{{ site.baseurl}}/program/trainings/" class="button button-primary">View Trainings</a>

    </div>

    <div class="column-block-item col-4-8 col-left-space">
      {% assign training = site.pages | where_exp:"item", "item.layout contains 'training'" | sample: '3' | sort:'title' %}
      {% for item in training limit: 3 %}
      <a href="{{ site.baseurl }}{{ item.permalink }}" class="training-hexa-item">
        <div class="training-hexa-item-image">
        {% for item in item.speaker %}
          <img src="{{ site.baseurl }}/assets/speakers/{{ item.image }}-sq.png" class="speakers-block-item-data-image" />
        {% endfor %}
        </div>
        <div class="training-hexa-item-details">
          <h2 class="speaker-title">{{ item.title }}</h2>
          <h3 class="speaker-name">
          {% for item in item.speaker %}
            <span>{{ item.name }}</span>
          {% endfor %}
          </h3>
          <p>{{ item.content | strip_html | truncatewords: 10 }}</p>
        </div>
      </a>
      {% endfor %}
    </div>

  </div>

</section>
-->
<section class="content">

  <div class="column-block column-block-bit">

    <div class="column-block-item col-8-8">

      <h3 class="headline">Presentations</h3>

      <div class="speakers-block">
      {% assign presentation = site.pages | where_exp:"item", "item.layout contains 'presentation'" | sample: 4 %}
      {% for page in presentation limit: 8 %}
      <a href="{{ page.permalink }}" class="speakers-block-item col-4-8">
        <div class="speakers-block-item-data speakers-block-item-data-row">
          <div class="speakers-block-item-data-block speakers-block-item-data-block-image {% if page.speaker.size > 1 %}speakers-block-item-duo{% endif %}">
            {% for item in page.speaker %}
            <img src="{{ site.baseurl }}/assets/speakers/{{ item.image }}-sq.png" class="speakers-block-item-data-image" />
            {% endfor %}
          </div>
          <div class="speakers-block-item-data-block">
            <h3 class="heading">{{ page.title }}</h3>
            <h4 class="alt-title alt-title-small alt-title-light">
            {% for item in page.speaker %}
              <span>{{ item.name }}</span>
            {% endfor %}
            </h4>
          </div>
        </div>
      </a>
      {% endfor %}
      </div>

      <a href="{{ site.baseurl}}/program/presentations/" class="button button-primary">View Presentations</a>

    </div>

  </div>

</section>
