---
layout: default
title: Program
permalink: "/program/"
---

<section class="content">

  <span class="notice-bar"><h3>Be aware</h3>The following information is tied to the 2017 CS3STHLM Summit.</span>

  <div class="sec-head">
    <h4>Conference Program</h4>
    <div class="block-head">
      <h2>The Program</h2>
    </div>
  </div>

  <div class="sec-content sec-program">

    <div class="col-6">
      <div class="col-2-6">
        <h3 class="headline">Speakers & Trainers</h3>

        <p>We will have multiple stages with the best international speakers and trainers, having excellent social activities and provide hard-to-earn knowledge, no matter if it is deeply technical matters, sucessful solutions or policy briefs.</p>

        <a href="{{ site.baseurl }}/program/speakers/" class="btn btn-primary">View All Speakers</a>
      </div>

      <div class="col-4-6 speaker-block-group">
        <div class="speaker--list-group-special">
          {% assign sorted_speakers = site.data.speakers | sample: 3 %}
          {% for speaker in sorted_speakers %}
          <div class="speaker--list-item">
            <a href="{{ site.baseurl }}/program/speakers/" class="item-block">
              <img src="{{ site.baseurl }}/assets/speakers/{{ speaker.image }}">
              <div class="speaker-block-data">
                <h4>{{ speaker.conf-role }}<span>{{ speaker.from-short }}</span></h4>
                <h2>{{ speaker.name }}</h2>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="col-4-6 workshop--block-group workshop-program-group">
        {% for page in site.pages %}
        {% if page.id ==  'workshop' %}
        <a href="{{ page.url | prepend: site.baseurl }}" class="workshop--block-item">
          <img src="{{ site.baseurl }}/assets/speakers/{{ page.image }}">
          <div class="workshop--block-content">
            <h2 class="workshop--block-title">{{ page.short-title }}</h2>
            <div class="workshop--meta">
              <span class="workshop--meta-time">{{ page.time }}</span>
              <span class="workshop--meta-author">{{ page.author }}</span>
            </div>
            <p>{{ page.content | strip_html | truncatewords: 12 }}</p>
          </div>
        </a>
        {% endif %}
        {% endfor %}
      </div>

      <div class="col-2-6">
        <h3 class="headline">Workshops & Tutorials</h3>

        <p>Between 23rd and 24th of October, the days before the summit, we will provide different full-day tutorials and training with world-renowned experts. We have tutorials in a number of different areas such as forensics in computers and in networks, introduction to cybersecurity standards, and information gathering.</p>

        <p>The tutorials ranging from theoretical overviews via hands-on practical to highly technical classes.</p>

        <a href="{{ site.baseurl }}/program/workshops/" class="btn btn-primary">View Workshops</a>
      </div>

    </div>

    <div class="col-6">
      <div class="col-2-6">
        <h3 class="headline">Our Presentations</h3>
      </div>
      <div class="presentation--list">
        <ul>
        {% assign presentation = site.pages | where_exp:"item", "item.layout contains 'presentation'" | sample: 6 %}
        {% for page in presentation limit: 6 %}
          <li><a href="{{ page.url | prepend: site.baseurl }}">
              {% for item in page.speaker %}
              <img src="{{ site.baseurl }}/assets/speakers/{{ item.image }}">
              {% endfor %}
              <div class="presentation--list-meta">
                <span class="p-title">{{ page.title }}</span>
                {% for item in page.speaker %}
                <span class="p-author">{{ item.name }}</span>
                {% endfor %}
              </div>
          </a></li>
        {% endfor %}
        </ul>
      </div>
      <div class="col-2-6">
        <a href="{{ site.baseurl }}/program/presentations/" class="btn btn-primary">View All Presentations</a>
      </div>
    </div>

    <div class="col-6">
      <div class="col-2-6">
        <h3 class="headline">ICS & IoT Security Lab</h3>

        <p>The security lab is returning to the conference. This year the lab will be a bigger, better and more interesting than ever before. We have added alot of more ICS and ICS communication equipment to the lab. We have extended it with a part that is for IoT security.</p>

        <a href="{{ site.baseurl }}/ics-lab/" class="btn btn-primary">View More Details</a>
      </div>

      <div class="col-4-6">
        <div class="full-width-image-details">
          <img src="{{ site.baseurl }}/assets/photos/geek-lounge.png" alt="GeekLounge">
        </div>
      </div>
    </div>

</section>