---
title: Agenda
permalink: "/agenda/"
published: true
layout: default
---

<section class="content">

	{% include breadcrumbs.html %}

	<div class="content-header">
		<div class="col-4-8">
			<h4 class="sub-headline">Conference Overview</h4>
			<h2 class="title title-yellow">Agenda 2019</h2>
		</div>
	</div>


	<div class="agenda col-8-8">

		<div class="agenda-header">
			<div class="agenda-header-item agenda-header-item-active" id="dayone-button">
				<span class="heading heading-small heading-capped heading-gray">21st of October</span>
				<h3 class="subtitle subtitle-yellow">Mon<span>day</span></h3>
				<h4 class="alt-title alt-title-extra-small alt-title-gray">ICS Lab</h4>
			</div>
			<div class="agenda-header-item" id="daytwo-button">
				<span class="heading heading-small heading-capped heading-gray">22nd of October</span>
				<h3 class="subtitle subtitle-yellow">Tues<span>day</span></h3>
				<h4 class="alt-title alt-title-extra-small alt-title-gray">Expo</h4>
			</div>
			<div class="agenda-header-item" id="daythree-button">
				<span class="heading heading-small heading-capped heading-gray">23rd of October</span>
				<h3 class="subtitle subtitle-yellow">Wednes<span>day</span></h3>
				<h4 class="alt-title alt-title-extra-small alt-title-gray">Summit</h4>
			</div>
			<div class="agenda-header-item" id="dayfour-button">
				<span class="heading heading-small heading-capped heading-gray">24th of October</span>
				<h3 class="subtitle subtitle-yellow">Thurs<span>day</span></h3>
				<h4 class="alt-title alt-title-extra-small alt-title-gray">Summit</h4>
			</div>
		</div>

		<span class="agenda-content-header-hidden-spacer"></span>

		<div class="agenda-day agenda-day-active" id="dayone">

			<div class="agenda-content-header">
				<div class="agenda-content-header-item agenda-content-header-item-active" id="dayone-mainstage-button">
					<h4 class="alt-title alt-title-white">Main Stage</h4>
				</div>
				<div class="agenda-content-header-item" id="dayone-harlem-button">
					<h4 class="alt-title alt-title-white">Harlem</h4>
				</div>
				<div class="agenda-content-header-item" id="dayone-stacken-button">
					<h4 class="alt-title alt-title-white">ICS Lab</h4>
				</div>
			</div>

			<div class="agenda-content">

				<div class="agenda-content-column agenda-content-column-active" id="dayone-mainstage">
					{% for item in site.data.agenda19 %}
					{% if item.day == 'dayone' %}
					{% if item.place == 'Main Stage' %}
					{% if item.permalink.size > 1 %}
					<div class="agenda-item agenda-item-link">
						<a href="{{ site.baseurl }}/{{ item.permalink }}">
							<span class="agenda-item-time">{{ item.time }}{% if item.special.size > 1 %}<span class="agenda-item-special">- {{ item.special }}</span>{% endif %}</span>
							{% if item.label.size > 1 %}
							<span class="agenda-item-time agenda-item-label">{{ item.label }}</span>
							{% endif %}
							<h3 class="agenda-item-headline">{{ item.title }}</h3>
							<h4 class="agenda-item-author">{% for item in item.author %}<span>{{ item.name }}</span>{% endfor %}{% for item in item.partner %}{% if item.name.size > 1 %}<span>{{ item.name }}</span>{% endif %}{% endfor %}</h4>
						</a>
					</div>
					{% else %}
					<div class="agenda-item {% if item.type == 'presentation' %}agenda-item-link{% endif %} {% if item.type == 'break' %}agenda-item-break{% endif %}">
						<span class="agenda-item-time">{{ item.time }}{% if item.special.size > 1 %}<span class="agenda-item-special">- {{ item.special }}</span>{% endif %}</span>
						{% if item.label.size > 1 %}
						<span class="agenda-item-time agenda-item-label">{{ item.label }}</span>
						{% endif %}
						<h3 class="agenda-item-headline">{{ item.title }}</h3>
						<h4 class="agenda-item-author">{% for item in item.author %}<span>{{ item.name }}</span>{% endfor %}{% for item in item.partner %}{% if item.name.size > 1 %}<span>{{ item.name }}</span>{% endif %}{% endfor %}</h4>
					</div>
					{% endif %}
					{% endif %}
					{% endif %}
					{% endfor %}
				</div>

				<div class="agenda-content-column" id="dayone-harlem">
					{% for item in site.data.agenda19 %}
					{% if item.day == 'dayone' %}
					{% if item.place == 'Harlem Stage' %}
					{% if item.permalink.size > 1 %}
					<div class="agenda-item agenda-item-link">
						<a href="{{ site.baseurl }}/{{ item.permalink }}">
							<span class="agenda-item-time">{{ item.time }}{% if item.special.size > 1 %}<span class="agenda-item-special">- {{ item.special }}</span>{% endif %}</span>
							{% if item.label.size > 1 %}
							<span class="agenda-item-time agenda-item-label">{{ item.label }}</span>
							{% endif %}
							<h3 class="agenda-item-headline">{{ item.title }}</h3>
							<h4 class="agenda-item-author">{% for item in item.author %}<span>{{ item.name }}</span>{% endfor %}{% for item in item.partner %}{% if item.name.size > 1 %}<span>{{ item.name }}</span>{% endif %}{% endfor %}</h4>
						</a>
					</div>
					{% else %}
					<div class="agenda-item {% if item.type == 'presentation' %}agenda-item-link{% endif %} {% if item.type == 'break' %}agenda-item-break{% endif %}">
						<span class="agenda-item-time">{{ item.time }}{% if item.special.size > 1 %}<span class="agenda-item-special">- {{ item.special }}</span>{% endif %}</span>
						{% if item.label.size > 1 %}
						<span class="agenda-item-time agenda-item-label">{{ item.label }}</span>
						{% endif %}
						<h3 class="agenda-item-headline">{{ item.title }}</h3>
						<h4 class="agenda-item-author">{% for item in item.author %}<span>{{ item.name }}</span>{% endfor %}{% for item in item.partner %}{% if item.name.size > 1 %}<span>{{ item.name }}</span>{% endif %}{% endfor %}</h4>
					</div>
					{% endif %}
					{% endif %}
					{% endif %}
					{% endfor %}
				</div>

				<div class="agenda-content-column" id="dayone-stacken">
					{% for item in site.data.agenda19 %}
					{% if item.day == 'dayone' %}
					{% if item.place == 'ICS Lab' %}
					{% if item.permalink.size > 1 %}
					<div class="agenda-item agenda-item-link">
						<a href="{% if item.permalink contains 'https' %}{{ item.permalink }}{% else %}{{ site.baseurl }}/{{ item.permalink }}{% endif %}">
							<span class="agenda-item-time">{{ item.time }}{% if item.special.size > 1 %}<span class="agenda-item-special">- {{ item.special }}</span>{% endif %}</span>
							{% if item.label.size > 1 %}
							<span class="agenda-item-time agenda-item-label">{{ item.label }}</span>
							{% endif %}
							<h3 class="agenda-item-headline">{{ item.title }}</h3>
							<h4 class="agenda-item-author">{% for item in item.author %}<span>{{ item.name }}</span>{% endfor %}{% for item in item.partner %}{% if item.name.size > 1 %}<span>{{ item.name }}</span>{% endif %}{% endfor %}</h4>
						</a>
					</div>
					{% else %}
					<div class="agenda-item {% if item.type == 'presentation' %}agenda-item-link{% endif %} {% if item.type == 'break' %}agenda-item-break{% endif %}">
						<span class="agenda-item-time">{{ item.time }}{% if item.special.size > 1 %}<span class="agenda-item-special">- {{ item.special }}</span>{% endif %}</span>
						{% if item.label.size > 1 %}
						<span class="agenda-item-time agenda-item-label">{{ item.label }}</span>
						{% endif %}
						<h3 class="agenda-item-headline">{{ item.title }}</h3>
						<h4 class="agenda-item-author">{% for item in item.author %}<span>{{ item.name }}</span>{% endfor %}{% for item in item.partner %}{% if item.name.size > 1 %}<span>{{ item.name }}</span>{% endif %}{% endfor %}</h4>
					</div>
					{% endif %}
					{% endif %}
					{% endif %}
					{% endfor %}
				</div>

			</div>

		</div>

		<div class="agenda-day" id="daytwo">

			<div class="agenda-content-header">
				<div class="agenda-content-header-item agenda-content-header-item-active" id="daytwo-mainstage-button">
					<h4 class="alt-title alt-title-white">Main Stage</h4>
				</div>
				<div class="agenda-content-header-item" id="daytwo-harlem-button">
					<h4 class="alt-title alt-title-white">Harlem</h4>
				</div>
				<div class="agenda-content-header-item" id="daytwo-stacken-button">
					<h4 class="alt-title alt-title-white">ICS Lab</h4>
				</div>
			</div>

			<div class="agenda-content">

				<div class="agenda-content-column agenda-content-column-active" id="daytwo-mainstage">
					{% for item in site.data.agenda19 %}
					{% if item.day == 'daytwo' %}
					{% if item.place == 'Main Stage' %}
					{% if item.permalink.size > 1 %}
					<div class="agenda-item agenda-item-link">
						<a href="{{ site.baseurl }}/{{ item.permalink }}">
							<span class="agenda-item-time">{{ item.time }}{% if item.special.size > 1 %}<span class="agenda-item-special">- {{ item.special }}</span>{% endif %}</span>
							{% if item.label.size > 1 %}
							<span class="agenda-item-time agenda-item-label">{{ item.label }}</span>
							{% endif %}
							<h3 class="agenda-item-headline">{{ item.title }}</h3>
							<h4 class="agenda-item-author">{% for item in item.author %}<span>{{ item.name }}</span>{% endfor %}{% for item in item.partner %}{% if item.name.size > 1 %}<span>{{ item.name }}</span>{% endif %}{% endfor %}</h4>
						</a>
					</div>
					{% else %}
					<div class="agenda-item {% if item.type == 'presentation' %}agenda-item-link{% endif %} {% if item.type == 'break' %}agenda-item-break{% endif %}">
						<span class="agenda-item-time">{{ item.time }}{% if item.special.size > 1 %}<span class="agenda-item-special">- {{ item.special }}</span>{% endif %}</span>
						{% if item.label.size > 1 %}
						<span class="agenda-item-time agenda-item-label">{{ item.label }}</span>
						{% endif %}
						<h3 class="agenda-item-headline">{{ item.title }}</h3>
						<h4 class="agenda-item-author">{% for item in item.author %}<span>{{ item.name }}</span>{% endfor %}{% for item in item.partner %}{% if item.name.size > 1 %}<span>{{ item.name }}</span>{% endif %}{% endfor %}</h4>
					</div>
					{% endif %}
					{% endif %}
					{% endif %}
					{% endfor %}
				</div>

				<div class="agenda-content-column" id="daytwo-harlem">
					{% for item in site.data.agenda19 %}
					{% if item.day == 'daytwo' %}
					{% if item.place == 'Harlem Stage' %}
					{% if item.permalink.size > 1 %}
					<div class="agenda-item agenda-item-link">
						<a href="{{ site.baseurl }}/{{ item.permalink }}">
							<span class="agenda-item-time">{{ item.time }}{% if item.special.size > 1 %}<span class="agenda-item-special">- {{ item.special }}</span>{% endif %}</span>
							{% if item.label.size > 1 %}
							<span class="agenda-item-time agenda-item-label">{{ item.label }}</span>
							{% endif %}
							<h3 class="agenda-item-headline">{{ item.title }}</h3>
							<h4 class="agenda-item-author">{% for item in item.author %}<span>{{ item.name }}</span>{% if item.work.size > 1 %}<span>{{ item.work }}</span>{% endif %}{% endfor %}{% for item in item.partner %}{% if item.name.size > 1 %}<span>{{ item.name }}</span>{% endif %}{% endfor %}</h4>
						</a>
					</div>
					{% else %}
					<div class="agenda-item {% if item.type == 'presentation' %}agenda-item-link{% endif %} {% if item.type == 'break' %}agenda-item-break{% endif %}">
						<span class="agenda-item-time">{{ item.time }}{% if item.special.size > 1 %}<span class="agenda-item-special">- {{ item.special }}</span>{% endif %}</span>
						{% if item.label.size > 1 %}
						<span class="agenda-item-time agenda-item-label">{{ item.label }}</span>
						{% endif %}
						<h3 class="agenda-item-headline">{{ item.title }}</h3>
						<h4 class="agenda-item-author">{% for item in item.author %}<span>{{ item.name }}</span>{% endfor %}{% for item in item.partner %}{% if item.name.size > 1 %}<span>{{ item.name }}</span>{% endif %}{% endfor %}</h4>
					</div>
					{% endif %}
					{% endif %}
					{% endif %}
					{% endfor %}
				</div>

				<div class="agenda-content-column" id="daytwo-stacken">
					{% for item in site.data.agenda19 %}
					{% if item.day == 'daytwo' %}
					{% if item.place == 'ICS Lab' %}
					{% if item.permalink.size > 1 %}
					<div class="agenda-item agenda-item-link">
						<a href="{{ site.baseurl }}/{{ item.permalink }}">
							<span class="agenda-item-time">{{ item.time }}{% if item.special.size > 1 %}<span class="agenda-item-special">- {{ item.special }}</span>{% endif %}</span>
							{% if item.label.size > 1 %}
							<span class="agenda-item-time agenda-item-label">{{ item.label }}</span>
							{% endif %}
							<h3 class="agenda-item-headline">{{ item.title }}</h3>
							<h4 class="agenda-item-author">{% for item in item.author %}<span>{{ item.name }}</span>{% endfor %}{% for item in item.partner %}{% if item.name.size > 1 %}<span>{{ item.name }}</span>{% endif %}{% endfor %}</h4>
						</a>
					</div>
					{% else %}
					<div class="agenda-item {% if item.type == 'presentation' %}agenda-item-link{% endif %} {% if item.type == 'break' %}agenda-item-break{% endif %}">
						<span class="agenda-item-time">{{ item.time }}{% if item.special.size > 1 %}<span class="agenda-item-special">- {{ item.special }}</span>{% endif %}</span>
						{% if item.label.size > 1 %}
						<span class="agenda-item-time agenda-item-label">{{ item.label }}</span>
						{% endif %}
						<h3 class="agenda-item-headline">{{ item.title }}</h3>
						<h4 class="agenda-item-author">{% for item in item.author %}<span>{{ item.name }}</span>{% endfor %}{% for item in item.partner %}{% if item.name.size > 1 %}<span>{{ item.name }}</span>{% endif %}{% endfor %}</h4>
					</div>
					{% endif %}
					{% endif %}
					{% endif %}
					{% endfor %}
				</div>

			</div>

		</div>

		<div class="agenda-day" id="daythree">

			<div class="agenda-content-header">
				<div class="agenda-content-header-item agenda-content-header-item-active" id="daythree-mainstage-button">
					<h4 class="alt-title alt-title-white">Main Stage</h4>
				</div>
				<div class="agenda-content-header-item" id="daythree-harlem-button">
					<h4 class="alt-title alt-title-white">Harlem</h4>
				</div>
				<div class="agenda-content-header-item" id="daythree-stacken-button">
					<h4 class="alt-title alt-title-white">ICS Lab</h4>
				</div>
			</div>

			<div class="agenda-content">

				<div class="agenda-content-column agenda-content-column-active" id="daythree-mainstage">
					{% for item in site.data.agenda19 %}
					{% if item.day == 'daythree' %}
					{% if item.place == 'Main Stage' %}
					{% if item.permalink.size > 1 %}
					<div class="agenda-item agenda-item-link">
						<a href="{{ site.baseurl }}/{{ item.permalink }}">
							<span class="agenda-item-time">{{ item.time }}{% if item.special.size > 1 %}<span class="agenda-item-special">- {{ item.special }}</span>{% endif %}</span>
							{% if item.label.size > 1 %}
							<span class="agenda-item-time agenda-item-label">{{ item.label }}</span>
							{% endif %}
							<h3 class="agenda-item-headline">{{ item.title }}</h3>
							<h4 class="agenda-item-author">{% for item in item.author %}<span>{{ item.name }}</span>{% endfor %}{% for item in item.partner %}{% if item.name.size > 1 %}<span>{{ item.name }}</span>{% endif %}{% endfor %}</h4>
						</a>
					</div>
					{% else %}
					<div class="agenda-item {% if item.type == 'presentation' %}agenda-item-link{% endif %} {% if item.type == 'break' %}agenda-item-break{% endif %}">
						<span class="agenda-item-time">{{ item.time }}{% if item.special.size > 1 %}<span class="agenda-item-special">- {{ item.special }}</span>{% endif %}</span>
						{% if item.label.size > 1 %}
						<span class="agenda-item-time agenda-item-label">{{ item.label }}</span>
						{% endif %}
						<h3 class="agenda-item-headline">{{ item.title }}</h3>
						<h4 class="agenda-item-author">{% for item in item.author %}<span>{{ item.name }}</span>{% endfor %}{% for item in item.partner %}{% if item.name.size > 1 %}<span>{{ item.name }}</span>{% endif %}{% endfor %}</h4>
					</div>
					{% endif %}
					{% endif %}
					{% endif %}
					{% endfor %}
				</div>

				<div class="agenda-content-column" id="daythree-harlem">
					{% for item in site.data.agenda19 %}
					{% if item.day == 'daythree' %}
					{% if item.place == 'Harlem Stage' %}
					{% if item.permalink.size > 1 %}
					<div class="agenda-item agenda-item-link">
						<a href="{{ site.baseurl }}/{{ item.permalink }}">
							<span class="agenda-item-time">{{ item.time }}{% if item.special.size > 1 %}<span class="agenda-item-special">- {{ item.special }}</span>{% endif %}</span>
							{% if item.label.size > 1 %}
							<span class="agenda-item-time agenda-item-label">{{ item.label }}</span>
							{% endif %}
							<h3 class="agenda-item-headline">{{ item.title }}</h3>
							<h4 class="agenda-item-author">{% for item in item.author %}<span>{{ item.name }}</span>{% endfor %}{% for item in item.partner %}{% if item.name.size > 1 %}<span>{{ item.name }}</span>{% endif %}{% endfor %}</h4>
						</a>
					</div>
					{% else %}
					<div class="agenda-item {% if item.type == 'presentation' %}agenda-item-link{% endif %} {% if item.type == 'break' %}agenda-item-break{% endif %}">
						<span class="agenda-item-time">{{ item.time }}{% if item.special.size > 1 %}<span class="agenda-item-special">- {{ item.special }}</span>{% endif %}</span>
						{% if item.label.size > 1 %}
						<span class="agenda-item-time agenda-item-label">{{ item.label }}</span>
						{% endif %}
						<h3 class="agenda-item-headline">{{ item.title }}</h3>
						<h4 class="agenda-item-author">{% for item in item.author %}<span>{{ item.name }}</span>{% endfor %}{% for item in item.partner %}{% if item.name.size > 1 %}<span>{{ item.name }}</span>{% endif %}{% endfor %}</h4>
					</div>
					{% endif %}
					{% endif %}
					{% endif %}
					{% endfor %}
				</div>

				<div class="agenda-content-column" id="daythree-stacken">
					{% for item in site.data.agenda19 %}
					{% if item.day == 'daythree' %}
					{% if item.place == 'ICS Lab' %}
					{% if item.permalink.size > 1 %}
					<div class="agenda-item agenda-item-link">
						<a href="{{ site.baseurl }}/{{ item.permalink }}">
							<span class="agenda-item-time">{{ item.time }}{% if item.special.size > 1 %}<span class="agenda-item-special">- {{ item.special }}</span>{% endif %}</span>
							{% if item.label.size > 1 %}
							<span class="agenda-item-time agenda-item-label">{{ item.label }}</span>
							{% endif %}
							<h3 class="agenda-item-headline">{{ item.title }}</h3>
							<h4 class="agenda-item-author">{% for item in item.author %}<span>{{ item.name }}</span>{% endfor %}{% for item in item.partner %}{% if item.name.size > 1 %}<span>{{ item.name }}</span>{% endif %}{% endfor %}</h4>
						</a>
					</div>
					{% else %}
					<div class="agenda-item {% if item.type == 'presentation' %}agenda-item-link{% endif %} {% if item.type == 'break' %}agenda-item-break{% endif %}">
						<span class="agenda-item-time">{{ item.time }}{% if item.special.size > 1 %}<span class="agenda-item-special">- {{ item.special }}</span>{% endif %}</span>
						{% if item.label.size > 1 %}
						<span class="agenda-item-time agenda-item-label">{{ item.label }}</span>
						{% endif %}
						<h3 class="agenda-item-headline">{{ item.title }}</h3>
						<h4 class="agenda-item-author">{% for item in item.author %}<span>{{ item.name }}</span>{% endfor %}{% for item in item.partner %}{% if item.name.size > 1 %}<span>{{ item.name }}</span>{% endif %}{% endfor %}</h4>
					</div>
					{% endif %}
					{% endif %}
					{% endif %}
					{% endfor %}
				</div>

			</div>

		</div>

		<div class="agenda-day" id="dayfour">

			<div class="agenda-content-header">
				<div class="agenda-content-header-item agenda-content-header-item-active" id="dayfour-mainstage-button">
					<h4 class="alt-title alt-title-white">Main Stage</h4>
				</div>
				<div class="agenda-content-header-item" id="dayfour-harlem-button">
					<h4 class="alt-title alt-title-white">Harlem</h4>
				</div>
				<div class="agenda-content-header-item" id="dayfour-stacken-button">
					<h4 class="alt-title alt-title-white">ICS Lab</h4>
				</div>
			</div>

			<div class="agenda-content">

				<div class="agenda-content-column agenda-content-column-active" id="dayfour-mainstage">
					{% for item in site.data.agenda19 %}
					{% if item.day == 'dayfour' %}
					{% if item.place == 'Main Stage' %}
					{% if item.permalink.size > 1 %}
					<div class="agenda-item agenda-item-link">
						<a href="{{ site.baseurl }}/{{ item.permalink }}">
							<span class="agenda-item-time">{{ item.time }}{% if item.special.size > 1 %}<span class="agenda-item-special">- {{ item.special }}</span>{% endif %}</span>
							{% if item.label.size > 1 %}
							<span class="agenda-item-time agenda-item-label">{{ item.label }}</span>
							{% endif %}
							<h3 class="agenda-item-headline">{{ item.title }}</h3>
							<h4 class="agenda-item-author">{% for item in item.author %}<span>{{ item.name }}</span>{% endfor %}{% for item in item.partner %}{% if item.name.size > 1 %}<span>{{ item.name }}</span>{% endif %}{% endfor %}</h4>
						</a>
					</div>
					{% else %}
					<div class="agenda-item {% if item.type == 'presentation' %}agenda-item-link{% endif %} {% if item.type == 'break' %}agenda-item-break{% endif %}">
						<span class="agenda-item-time">{{ item.time }}{% if item.special.size > 1 %}<span class="agenda-item-special">- {{ item.special }}</span>{% endif %}</span>
						{% if item.label.size > 1 %}
						<span class="agenda-item-time agenda-item-label">{{ item.label }}</span>
						{% endif %}
						<h3 class="agenda-item-headline">{{ item.title }}</h3>
						<h4 class="agenda-item-author">{% for item in item.author %}<span>{{ item.name }}</span>{% endfor %}{% for item in item.partner %}{% if item.name.size > 1 %}<span>{{ item.name }}</span>{% endif %}{% endfor %}</h4>
					</div>
					{% endif %}
					{% endif %}
					{% endif %}
					{% endfor %}
				</div>

				<div class="agenda-content-column" id="dayfour-harlem">
					{% for item in site.data.agenda19 %}
					{% if item.day == 'dayfour' %}
					{% if item.place == 'Harlem Stage' %}
					{% if item.permalink.size > 1 %}
					<div class="agenda-item agenda-item-link">
						<a href="{{ site.baseurl }}/{{ item.permalink }}">
							<span class="agenda-item-time">{{ item.time }}{% if item.special.size > 1 %}<span class="agenda-item-special">- {{ item.special }}</span>{% endif %}</span>
							{% if item.label.size > 1 %}
							<span class="agenda-item-time agenda-item-label">{{ item.label }}</span>
							{% endif %}
							<h3 class="agenda-item-headline">{{ item.title }}</h3>
							<h4 class="agenda-item-author">{% for item in item.author %}<span>{{ item.name }}</span>{% endfor %}{% for item in item.partner %}{% if item.name.size > 1 %}<span>{{ item.name }}</span>{% endif %}{% endfor %}</h4>
						</a>
					</div>
					{% else %}
					<div class="agenda-item {% if item.type == 'presentation' %}agenda-item-link{% endif %} {% if item.type == 'break' %}agenda-item-break{% endif %}">
						<span class="agenda-item-time">{{ item.time }}{% if item.special.size > 1 %}<span class="agenda-item-special">- {{ item.special }}</span>{% endif %}</span>
						{% if item.label.size > 1 %}
						<span class="agenda-item-time agenda-item-label">{{ item.label }}</span>
						{% endif %}
						<h3 class="agenda-item-headline">{{ item.title }}</h3>
						<h4 class="agenda-item-author">{% for item in item.author %}<span>{{ item.name }}</span>{% endfor %}{% for item in item.partner %}{% if item.name.size > 1 %}<span>{{ item.name }}</span>{% endif %}{% endfor %}</h4>
					</div>
					{% endif %}
					{% endif %}
					{% endif %}
					{% endfor %}
				</div>

				<div class="agenda-content-column" id="dayfour-stacken">
					{% for item in site.data.agenda19 %}
					{% if item.day == 'dayfour' %}
					{% if item.place == 'ICS Lab' %}
					{% if item.permalink.size > 1 %}
					<div class="agenda-item agenda-item-link">
						<a href="{{ site.baseurl }}/{{ item.permalink }}">
							<span class="agenda-item-time">{{ item.time }}{% if item.special.size > 1 %}<span class="agenda-item-special">- {{ item.special }}</span>{% endif %}</span>
							{% if item.label.size > 1 %}
							<span class="agenda-item-time agenda-item-label">{{ item.label }}</span>
							{% endif %}
							<h3 class="agenda-item-headline">{{ item.title }}</h3>
							<h4 class="agenda-item-author">{% for item in item.author %}<span>{{ item.name }}</span>{% endfor %}{% for item in item.partner %}{% if item.name.size > 1 %}<span>{{ item.name }}</span>{% endif %}{% endfor %}</h4>
						</a>
					</div>
					{% else %}
					<div class="agenda-item {% if item.type == 'presentation' %}agenda-item-link{% endif %} {% if item.type == 'break' %}agenda-item-break{% endif %}">
						<span class="agenda-item-time">{{ item.time }}{% if item.special.size > 1 %}<span class="agenda-item-special">- {{ item.special }}</span>{% endif %}</span>
						{% if item.label.size > 1 %}
						<span class="agenda-item-time agenda-item-label">{{ item.label }}</span>
						{% endif %}
						<h3 class="agenda-item-headline">{{ item.title }}</h3>
						<h4 class="agenda-item-author">{% for item in item.author %}<span>{{ item.name }}</span>{% endfor %}{% for item in item.partner %}{% if item.name.size > 1 %}<span>{{ item.name }}</span>{% endif %}{% endfor %}</h4>
					</div>
					{% endif %}
					{% endif %}
					{% endif %}
					{% endfor %}
				</div>

			</div>

		</div>


	</div>

</section>

