---
title: Archive List
permalink: "/archive/list"
layout: archive
---

<script type="javascript">
	var options = {
	valueNames: [ 'name', 'role', 'work', 'country' ]
};

var archiveList = new List('archivelist', options);

</script>

<section class="content">

	<div id="archivelist">

		<button class="sort" data-sort="name">Sort name</button>
		<button class="sort" data-sort="role">Sort role</button>
		<button class="sort" data-sort="work">Sort work</button>
		<button class="sort" data-sort="country">Sort country</button>

		<ul class="archive-list list">

		{% assign sorted_speakers = site.data.archive-2020 | sort: 'permalink' %}

		{% for speaker in sorted_speakers %}
		{% if speaker.type contains "presentation" or speaker.type contains "training" or speaker.type contains "moderator" %}

		{% for item in speaker.speaker %}
		<li>
			<span class="name">{{ item.name }}</span>
			<span class="role">{{ item.role }}</span>
			<span class="work">{{ item.work }}</span>
			<span class="country">{{ item.country }} - {{ item.shortcode }}</span>
		</li>
		{% endfor %}


		{% endif %}
		{% endfor %}

		</ul>

	</div>
  
</section>