---
title: Advisory
permalink: "/about/advisory/"
layout: default
---

<section class="content">

  {% include breadcrumbs.html %}

  <div class="content-header">
    <div class="col-8-8">
      <h4 class="sub-headline">Advisory Board</h4>
      <h2 class="title title-yellow">Expertise all around</h2>
    </div>

    <div class="col-4-8">
      <p>For expert advice and support, and to guarantee vivid discussions, excellent input and insight to current events within our field, we are proud to present our advisory board.</p>
    </div>
  </div>

  <div class="advisory--block">
  	{% for card in site.data.advisory %}
    <div class="advisory--block-item col-1-3">
      <figure class="speakers-image"><img src="{{ site.baseurl }}/assets/advisory/{{ card.image }}.jpg"></figure>
      <div class="advisory--block-item-meta">
        <h2 class="subtitle">{{ card.name }}</h2>
        <h3 class="alt-title alt-title-small spacing-bottom">{{ card.role }} at {{ card.work }}</h3>
        <span class="sub-headline">{{ card.from }}</span>
      </div>
    </div>
    {% endfor %}
  </div>

</section>