---
layout: default
title: Advisory
permalink: "/about/advisory/"
---

<section class="content">

  <div class="sec-head"> 
    <div class="block-head">
      <h4>Advisory Board</h4>
      {% include breadcrumbs.html %}
    </div>
    <h2>Expertise all around</h2>

    <div class="col-3-6 col-ml-1">
    	<p>For expert advice and support, and to guarantee vivid discussions, excellent input and insight to current events within our field, we are proud to present our advisory board.</p>
    </div>
  </div>

  <div class="advisory-cards">

  	{% for card in site.data.advisory %}
	<div class="card-item">
		<figure class="speaker-image"><img src="{{ site.baseurl }}/assets/advisory/{{ card.image }}"></figure>
		<div class="card-item-data">
      <h2>{{ card.name }}</h2>
  		<h3>{{ card.role }}</h3>
  		<span class="card-item-work">{{ card.work }}</span>
  		<span class="card-item-location">{{ card.from }}</span>
    </div>
	</div>
	{% endfor %}

  </div>

</section>