---
title: Home
layout: home
id: home
image: /assets/bg-2019.png
---

<section class="introduction content col-8-8">

  <div class="intro-mark">
    <div class="subject-row">
      <div class="important-tag-block spacing-bottom">
        <a href="{{ site.baseurl }}/news/2020/07/10/cs3sthlm-goes-virtual.html" class="important-tag-link">
          <span class="important-tag">Important -</span>
          <span class="important-tag-highlight">CS3STHLM Goes Virtual</span>
      </a>
      </div>
      <div class="intro-mark-block">
        <h4 class="intro-mark-date"><span class="icon icon-calender">{% include calender.html %}</span>21-22 October 2020</h4>
        <h4 class="intro-mark-date"><span class="icon icon-map-pin">{% include map-pin.html %}</span>Nalen in Stockholm, Sweden</h4>
      </div>

      <h2 class="intro-mark-title">The Premier Cyber Security Conference for ICS/SCADA and Critical Infrastructure</h2>

      <h3 class="intro-mark-subtitle">Organized by <a href="https://omnisiens.se" target="_blank">Omnisiens</a></h3>
    </div>

    <div class="button-group button-group-intro button-group-intro-three">
      <a href="mailto:info@cs3sthlm.se?subject=Interested to become part of CS3STHLM&body=GDPR Notice: By sending this mail I acknowledge that the company Omnisiens AB, running the conference CS3sthlm, have the right to store and use my personal identifiable information for information related to CS3sthlm, conferences, training and courses, etc." class="button button-blue">Keep Me Posted!</a>
      <!--<a href="{{ site.baseurl }}/call-for-participation" class="button button-primary button-green">Call for Participation</a>-->
      <a href="https://hopin.to/events/cs3sthlm-2020" class="button button-primary button-yellow" target="_blank">Buy A Ticket</a>
    </div>
  </div>

  <div class="news-feed spacing-top-large">

    <div class="news-feed-header">
      <h3 class="alt-title alt-title-yellow">Recent News</h3>
      <a href="{{ site.baseurl }}/news" class="news-feed-button">All news</a>
    </div>

    <div class="news-feed-content">
      {% for post in site.posts limit:4 %}
      <a href="{{ site.baseurl }}{{ post.url }}" class="news-feed-link">
        <div class="news-feed-meta-block">
          <span class="news-feed-meta news-feed-date">{{ post.date | date: "%-d %B %-Y" }}</span>
          <span class="news-feed-meta news-feed-category news-feed-category-{{ post.categories | join: ' ' }}">{{ post.categories }}</span>
        </div> 
        <span class="news-feed-title">{{ post.title }}</span>
      </a>
      {% endfor %}
    </div>
  </div>

</section>

<section class="content col-8-8">

  <div class="content-header">
    <h2 class="title title-yellow">The Summit</h2>
  </div>

  <div class="column-block spacing-bottom">

    <div class="column-block-item col-8-8 spacing-bottom">
      <p class="content-intro col-4-8">CS3STHLM – the Stockholm international summit on Cyber Security in SCADA and Industrial Control Systems - is an annual summit that gather the most important stakeholders across critical processes and industries. CS3STHLM has been organized since 2014, and has quickly become the premier ICS Security Summit in Northern Europe!</p>
    </div>

    <div class="column-block col-8-8 spacing-bottom">
      
      <div class="column-block col-1-3">
        <div class="column-block-item column-block-bit">
          <h3 class="headline">Who Should Attend?</h3>
          <p>The participants at CS3STHLM are interested in securing control systems, critical infrastructure, automation and smart-grid. The summit gathers ICS/SCADA stakeholders across many different types of critical infrastructures.</p>
          <p>CS3STHLM invites an international SCADA/ICS community, and all official communication and presentations will be in English.</p>
        </div>
      </div>

      <div class="column-block col-1-3">
        <div class="column-block-item column-block-bit">
          <h3 class="headline">What Will You Learn?</h3>
          <p>CS3STHLM offers three days full of opportunities for increased knowledge - one day of practical tutorials followed by two days of presentations by top speakers from the ICS field.</p>
          <p>CS3STHLM is a summit that offers generous time for lectures, networking and exchange of experiences on todays challenges in regard to ICS/SCADA security, together with practical advises on how to go about to manage them. The summit is built up by a mix of presentations from two stages, practical demonstrations in the ICS lab, lightning talks and the Hallway Track for networking.</p>
        </div>
      </div>

      <div class="column-block col-1-3">
        <div class="column-block-item">
            <h3 class="headline">Why Attend?</h3>
            <p>The CS3STHLM summit gives you a great opportunity to experience international top-speakers and meet the most experienced experts in the field.</p>
            <p>Robert Malmgren and Erik Johansson, two leading Swedish industrial security specialists, are the organizers of CS3STHLM. Their practical experiences are fundamental for the success of this summit.</p>
        </div>
      </div>
    
    </div>

    <div class="column-block">
      <div class="column-block-item col-8-8">
        <div class="card-item card-item-filled card-item-row">
    <h4 class="sub-headline col-8-8">History</h4>
    {% assign sorthistory = site.data.history | sort:'year' | reverse %}
    {% for card in sorthistory %}
    {% unless card.type contains "expo" %}
    <div class="card-details-block">
      <h2 class="subtitle subtitle-yellow">{{ card.year }}</h2>
      <h3 class="heading">{{ card.location }}</h3>
      <p>{{ card.date }}</p>
    </div>
    {% endunless %}
    {% endfor %}
        </div>
      </div>
    </div>


  </div>

  <div class="column-block">

    <div class="column-block-item col-4-8">
      <div class="card-item card-item-filled card-item-image-top">
        <figure class="card-item-image">
          <img src="{{ site.baseurl }}/assets/photos/dinner-2019.png">
        </figure>
        <h4 class="sub-headline headline-spacing-bottom">Summit 2019 Gala Dinner</h4>
        <h3 class="headline">Summit Dinner</h3>
        <p>CS3STHLM Summit Dinner - also known as The Gala Dinner. Summit 2019 had the pleasure of having Herman Geijer talk about Zombie Survival.</p>
      </div>
    </div>


    <div class="column-block-item col-4-8">

      <div class="card-item card-item-filled card-item-image-top spacing-bottom">
        <figure class="card-item-image">
          <img src="{{ site.baseurl }}/assets/photos/andy-greenberg.png">
        </figure>
        <h4 class="sub-headline headline-spacing-bottom">Summit 2019 Keynote</h4>
        <h3 class="headline">Andy Greenberg</h3>
        <p>Andy Greenberg from Wired  presented his findings in his upcoming book - Sandworm: Lessons From the Ukrainian Cyberwar and Beyond.</p>
      </div>

      <div class="card-item card-item-filled card-item-image-top">
        <figure class="card-item-image">
          <img src="{{ site.baseurl }}/assets/photos/torstein-gimnes-are.png">
        </figure>
        <h4 class="sub-headline headline-spacing-bottom">Summit 2019 Keynote</h4>
        <h3 class="headline">Torstein Gimnes Are</h3>
        <p>Torstein Gimnes Are from Norsk Hydro talked about the events that followed the cyberattack on Norsk Hydro earlier in 2019.</p>
      </div>

    </div>


  </div>

</section>


<section class="content col-8-8">

  <div class="content-header">
    <h2 class="title title-yellow">The Expo</h2>
  </div>

  <div class="column-block">

    <div class="column-block-item col-3-8">
      <p class="content-intro col-3-8">At the CS3STHLM Expo 2019, an ICS Cyber Security Expo in Stockhom, you get an overview of threats and different protection that's available on the market. Here you will meet both researchers, vendors and experts who share their experiences of best practice and trends in IT security for critical parts of society.</p>

      <div class="column-block">
        <div class="column-block-item">
          <div class="card-item card-item-filled">
            <h4 class="sub-headline">Previous Expo</h4>
            {% assign sorthistory = site.data.history | sort:'year' | reverse %}
            {% for card in sorthistory %}
            {% if card.type contains "expo" and card.year contains "2019" %}
            <h2 class="title title-yellow">{{ card.year }}</h2>
            <h3 class="heading">{{ card.location }}</h3>
            <p>{{ card.date }}</p>
            <ul class="card-item-list">
              <li><span>{{ card.nr-speakers }}</span>Speakers</li>
              <li><span>{{ card.nr-partners }}</span>Expo Partners</li>
              <li><span>{{ card.nr-attendees }}</span>Attendees</li>
            </ul>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="column-block-item col-5-8">
      <div class="column-block-bit">
        <figure class="column-block-image image-square">
          <span class="fade-block top-fade"></span>
          <img src="{{ site.baseurl }}/assets/photos/expo-2019.png">
          <span class="fade-block bottom-fade"></span>
        </figure>
      </div>

    </div>

  </div>

</section>

<!--

<section class="content col-8-8">

  <div class="column-block">

    <div class="column-block-item col-4-8">
      <div class="content-header">
        <h2 class="title title-yellow">The ICS Lab</h2>
      </div>
      <p class="content-intro col-4-8">The Security Lab is, of course, returning to the CS3STHLM summit of 2020. We plan to add even more ICS and ICS communication equipment to the lab, and we working on extending the IoT security part further.</p>

      <div class="column-block-bit">
        <figure class="column-block-image">
          <span class="fade-block top-fade"></span>
          <img src="{{ site.baseurl }}/assets/photos/cs3sthlm-ics-lab.jpg" srcset="{{ site.baseurl }}/assets/photos/cs3sthlm-ics-lab@2x.jpg 2x">
          <span class="fade-block bottom-fade"></span>
        </figure>
      </div>



    </div>


    <div class="column-block-item col-4-8">

      <div class="content-header">
        <h2 class="title title-yellow">The Trainings</h2>
      </div>

      <p class="content-intro col-4-8">Between 19nd and 20th of October, the days before the summit, we will provide different full-day tutorials and training with world-renowned experts. We have tutorials in a number of different areas such as forensics in computers and in networks, introduction to cybersecurity standards, and information gathering. The tutorials ranging from theoretical overviews via hands-on practical to highly technical classes.</p>

      <div class="column-block-item">
        <div class="card-item card-item-filled">
          <h4 class="sub-headline spacing-bottom">One day & Two days trainings</h4>
          <h2 class="subtitle subtitle-yellow">Trainings will be released later this year</h2>
          <p>We will present the coming trainings when they are finalized. Sit tight and check this space for coming updates.</p>
        </div>
      </div>

      <div class="column-block-item col-4-8">
      {% assign training = site.pages | where_exp:"item", "item.layout contains 'training'" | sample: '3' | sort:'title' %}
      {% for item in training limit: 2 %}
      <a href="{{ site.baseurl }}{{ item.permalink }}" class="card-item card-item-filled spacing-bottom card-item-linked">
        <div class="card-item-details-row">
          {% if item.date contains "-" %} 
          <h4 class="sub-headline">Two Days - {{ item.date }}</h4>
          {% else %}
          <h4 class="sub-headline">One Day - {{ item.date }}</h4>
          {% endif %}

          {% if item.status contains "Slots Open" %}
          <h4 class="sub-headline sub-headline-yellow">{{ item.status }}</h4>
          {% endif %}

          {% if item.status contains "Cancelled" %}
          <h4 class="sub-headline sub-headline-gray">{{ item.status }}</h4>
          {% endif %}

          {% if item.status contains "Sold Out" %}
          <h4 class="sub-headline sub-headline-red">{{ item.status }}</h4>
          {% endif %}

        </div>
        <div class="card-item-details">
          <h2 class="speaker-title">{{ item.title }}</h2>
          <h3 class="speaker-name">
          {% for item in item.speaker %}
            <span>{{ item.name }}</span>
          {% endfor %}
          </h3>

          <p>{{ item.content | strip_html | truncatewords: 14 }}</p>
        </div>
      </a>
      {% endfor %}
      </div>

    </div>

  </div>

</section>

-->