---
layout: default
title: Speakers
permalink: "/program/speakers/"
---

<section class="content">

  <div class="sec-head">
  	<div class="block-head">
  		<h4>Speakers & Trainers</h4>
  		{% include breadcrumbs.html %}
  	</div>
    <div class="block-head">
    	<h2>World Class Content</h2>
    	<div class="btn-group">
    		<a href="{{ site.baseurl }}/program/presentations/" class="btn btn-primary"><span>View</span> Presentations</a>
    		<a href="{{ site.baseurl }}/program/workshops/" class="btn btn-primary"><span>View</span> Workshops</a>
    	</div>
    </div>

    <div class="col-6-6">
        <div class="col-3-6 col-ml-1">
    	   <p>CS3STHLM – the Stockholm international summit on Cyber Security in SCADA and Industrial Control Systems - is an annual summit that gather the most important stakeholders across critical processes and industries. CS3STHLM has been organized since 2014, and has quickly become the premier ICS Security Summit in Northern Europe!</p>
        </div>
    </div>
  </div>

</section>

<section class="content">

	<div class="speaker--list-group">
		{% assign sorted_speakers = site.data.speakers | sort:'name' %}
		{% for speaker in sorted_speakers %}
		<div class="speaker--list-item">
			<div class="speaker-block">
				<img src="{{ site.baseurl }}/assets/speakers/{{ speaker.image }}">
				<div class="speaker-block-data">
					<h4>{{ speaker.conf-role }}<span>{{ speaker.from-short }}</span></h4>
					<h2>{{ speaker.name }}</h2>
				</div>
			</div>
			<div class="speaker-block-details">
				<div class="speaker-block--header">
					<h4>{{ speaker.conf-role }}</h4>
					<h2>{{ speaker.name }}</h2>
					<h3>{{ speaker.role }}</h3>
				</div>
				<div class="speaker-block--content">
					<div class="col-1-6">
						<ul>
							<li>{{ speaker.work }}</li>
							<li>{{ speaker.from-long }}</li>
						</ul>
					</div>

					<div class="col-3-6">
						<p>{{ speaker.bio }}</p>
					</div>

					{% if speaker.presentation != null %}
					<div class="col-2-6">
						<h4 class="headline">Presentation</h4>
						<a href="{{ site.baseurl }}/{{ speaker.permalink }}" class="speaker-permalink">{{ speaker.presentation }}</a>
					</div>
					{% endif %}

					{% if speaker.multi != null %}
					<div class="col-2-6">
						<h4 class="headline">Presentation</h4>
						{% for item in speaker.multi %}
						<a href="{{ site.baseurl }}/{{ item.permalink }}" class="speaker-permalink">{{ item.title }}</a>
						{% endfor %}
					</div>
					{% endif %}

					{% if speaker.workshop != null %}
					<div class="col-2-6">
						<h4 class="headline">Workshop</h4>
						<a href="{{ site.baseurl }}/{{ speaker.permalink }}" class="speaker-permalink">{{ speaker.workshop }}</a>
					</div>
					{% endif %}
				</div>

				<a href="#!" class="modal-close">Close<span></span></a>
			</div>
		</div>
		{% endfor %}
	</div>

</section>