---
layout: default
title: News
---

<section class="content">

  <div class="sec-head">
    <h4>News</h4>
    <div class="block-head">
    	<h2>The Newsroom</h2>
    	<!--<a href="#" class="btn btn-primary">View the Archive</a>-->
    </div>
  </div>

</section>

<section class="content">

<div class="workshop--list-group">
    <h3 class="subpar-headline">2017 CS3STHLM - <span class="highlight">Latest News</span></h3>
    {% for post in site.categories.news %}
    {% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
    {% if year == "2017" %}
    <div class="workshop--list-item">
        <a href="{{ post.url | prepend: site.baseurl }}" class="workshop--list-link">
        <div class="workshop--meta">
            <span class="workshop--meta-sub">{{ post.date | date: "%-d %b %-Y" }}</span>
        </div>
        <h2 class="workshop--list-title">{{ post.title }}</h2>
        </a>
    </div>
    {% endif %}
    {% endfor %}
</div>

</section>