---
title: Partners
permalink: "/partners/"
published: true
layout: default
---

<section class="content">

	{% include breadcrumbs.html %}

	<div class="content-header">
		<div class="col-4-8">
			<h4 class="sub-headline">Partners for 2021</h4>
			<h2 class="title title-yellow">Become a Partner</h2>
		</div>
	</div>

	<div class="column-block">
		<div class="column-block-item col-4-8">
			<p>This will be our 8th summit and we are on the lookout for partners who wants to take an active part in the event.</p>

			<ul class="stroke-list">
				<li class="stroke-list-heading">Examples of partnership opportunities:</li>
				<li class="stroke-list-item">Tutorial/workshop on company products</li>
				<li class="stroke-list-item">Hosting of welcome reception, lunch or gala dinner</li>
				<li class="stroke-list-item">Private rooms for meetings/showcases</li>
				<li class="stroke-list-item">Equipment demonstrations in the ICS lab</li>
			</ul>

			<p>Contact us for more information</p>

			<div class="column-block-bit">
				<a href="mailto:partnership@cs3sthlm.se" class="button button-primary">Contact us</a>
			</div>

			<p>P.S. English is the primary language at the CS3STHLM summit.</p>
		</div>
	</div>

</section>

<section class="content">

	{% include notactive.html %}

	<div class="content-header">
		<h2 class="title title-yellow">Partners of 2020</h2>
  	</div>

	<div class="col-8-8">

		<div class="partner--list">
			<h3 class="alt-title alt-title-yellow">Premium</h3>
			{% assign sortedpartners = site.data.partners | sort:"order" %}
			{% for partner in sortedpartners %}
			{% if partner.level == "premium" %}
			{% if partner.type == "large" %}
				<div class="partner--item col-2-8 partner--item-large">
					<a href="{{ partner.url }}" target="_blank">
						<img src="{{ site.baseurl }}/assets/partners/{{ partner.logo }}" alt="{{ partner.company }}">
					</a>
				</div>
			{% endif %}
			{% endif %}
			{% endfor %}
			<div class="partner--list-block">
			{% for partner in sortedpartners %}
			{% if partner.level == "premium" %}
			{% if partner.type == "small" %}
				<div class="partner--item col-2-8">
					<a href="{{ partner.url }}" target="_blank">
						<img src="{{ site.baseurl }}/assets/partners/{{ partner.logo }}" alt="{{ partner.company }}">
					</a>
				</div>
			{% endif %}
			{% endif %}
			{% endfor %}
			</div>
		</div>

		<div class="partner--list">
			<h3 class="alt-title alt-title-yellow">Sponsor</h3>
			{% assign sortedpartners = site.data.partners | sort:"order" %}
			{% for partner in sortedpartners %}
			{% if partner.level == "partner" %}
			{% if partner.type == "large" %}
				<div class="partner--item col-2-8 partner--item-large">
					<a href="{{ partner.url }}" target="_blank">
						<img src="{{ site.baseurl }}/assets/partners/{{ partner.logo }}" alt="{{ partner.company }}">
					</a>
				</div>
			{% endif %}
			{% endif %}
			{% endfor %}
			<div class="partner--list-block">
			{% for partner in sortedpartners %}
			{% if partner.level == "partner" %}
			{% if partner.type == "small" %}
				<div class="partner--item col-2-8">
					<a href="{{ partner.url }}" target="_blank">
						<img src="{{ site.baseurl }}/assets/partners/{{ partner.logo }}" alt="{{ partner.company }}">
					</a>
				</div>
			{% endif %}
			{% endif %}
			{% endfor %}
			</div>
		</div>


		<div class="partner--list">
			<h3 class="alt-title alt-title-yellow">Organizer</h3>
			{% assign sortedpartners = site.data.partners | sort:"order" %}
			{% for partner in sortedpartners %}
			{% if partner.level == "organizer" %}
			{% if partner.type == "large" %}
				<div class="partner--item col-2-8 partner--item-large">
					<a href="{{ partner.url }}" target="_blank">
						<img src="{{ site.baseurl }}/assets/partners/{{ partner.logo }}" alt="{{ partner.company }}">
					</a>
				</div>
			{% endif %}
			{% endif %}
			{% endfor %}
			<div class="partner--list-block">
			{% for partner in sortedpartners %}
			{% if partner.level == "organizer" %}
			{% if partner.type == "small" %}
				<div class="partner--item col-2-8">
					<a href="{{ partner.url }}" target="_blank">
						<img src="{{ site.baseurl }}/assets/partners/{{ partner.logo }}" alt="{{ partner.company }}">
					</a>
				</div>
			{% endif %}
			{% endif %}
			{% endfor %}
			</div>
		</div>
		
	</div>

</section>

<!--
<section class="content">

	{% include oldcontent.html %}

	<div class="content-header">
		<h2 class="title title-yellow">Partners of 2019</h2>
  	</div>

	<div class="col-8-8">

		<div class="partner--list">
		<h3 class="alt-title alt-title-yellow">Partners</h3>
		{% assign sortedpartners = site.data.partners | sort:"order" %}
		{% for partner in sortedpartners %}
		{% if partner.level == "partner" %}
		{% if partner.type == "large" %}
			<div class="partner--item col-2-8 partner--item-large">
				<a href="{{ partner.url }}" target="_blank">
					<img src="{{ site.baseurl }}/assets/partners/{{ partner.logo }}" alt="{{ partner.company }}">
				</a>
			</div>
		{% endif %}
		{% endif %}
		{% endfor %}
		<div class="partner--list-block">
		{% for partner in sortedpartners %}
		{% if partner.level == "partner" %}
		{% if partner.type == "small" %}
			<div class="partner--item col-2-8">
				<a href="{{ partner.url }}" target="_blank">
					<img src="{{ site.baseurl }}/assets/partners/{{ partner.logo }}" alt="{{ partner.company }}">
				</a>
			</div>
		{% endif %}
		{% endif %}
		{% endfor %}
		</div>
		</div>

		<div class="partner--list">
		<h3 class="alt-title alt-title-yellow">Training Partners</h3>
		{% assign sortedpartners = site.data.partners | sort:"order" %}
		{% for partner in sortedpartners %}
		{% if partner.level == "training-partner" %}
		{% if partner.type == "large" %}
			<div class="partner--item col-2-8 partner--item-large">
				<a href="{{ partner.url }}" target="_blank">
					<img src="{{ site.baseurl }}/assets/partners/{{ partner.logo }}" alt="{{ partner.company }}">
				</a>
			</div>
		{% endif %}
		{% endif %}
		{% endfor %}
		<div class="partner--list-block">
		{% for partner in sortedpartners %}
		{% if partner.level == "training-partner" %}
		{% if partner.type == "small" %}
			<div class="partner--item col-2-8">
				<a href="{{ partner.url }}" target="_blank">
					<img src="{{ site.baseurl }}/assets/partners/{{ partner.logo }}" alt="{{ partner.company }}">
				</a>
			</div>
		{% endif %}
		{% endif %}
		{% endfor %}
		</div>
		</div>
		
		<div class="partner--list">
		<h3 class="alt-title alt-title-yellow">Organizing Partners</h3>
		{% assign sortedpartners = site.data.partners | sort:"order" %}
		{% for partner in sortedpartners %}
		{% if partner.level == "organizer" %}
			<div class="partner--item col-2-8">
				<a href="{{ partner.url }}" target="_blank">
					<img src="{{ site.baseurl }}/assets/partners/{{ partner.logo }}" alt="{{ partner.company }}">
				</a>
			</div>
		{% endif %}
		{% endfor %}
		</div>

	</div>

</section>
-->