---
layout: default
title: Partners
permalink: "/partners/"
---

<section class="content">

	<span class="notice-bar"><h3>Disclaimer</h3>The following information is tied to the past CS3STHLM Summit.</span>

  <div class="sec-head">
    <h4>Partners</h4>
    <div class="block-head">
    	<h2>Summit Partners</h2>
    </div>
	
	<div class="col-3-6 col-ml-1">
	<p>This will be our 5th summit and we are on the lookout for partners who wants to take an active part in the event.</p>

	<p>Examples of partnership opportunities:
	<ul class="block-list-disc">
		<li>Tutorial/workshop on company products</li>
		<li>Hosting of welcome reception, lunch or gala dinner</li>
		<li>Private rooms for meetings/showcases</li>
		<li>Equipment demonstrations in the ICS lab</li>
	</ul></p>

	<p>Contact us for more information</p>

	<a href="mailto:info@cs3sthlm.se" class="btn btn-primary">Contact us</a>

	<p>P.S. English is the primary language at the CS3STHLM summit.</p>
	</div>

  </div>

</section>

<div class="content">

	<div class="col-1">

		<div class="partner--list">
		<h3>Partners</h3>
		{% assign sorted_partners = site.data.partners | sort: 'company' %}
		{% for partner in sorted_partners %}
		{% if partner.level == "partner" %}
			<div class="partner--item">
				<a href="{{ partner.url }}" target="_blank">
					<img src="{{ site.baseurl }}/assets/partners/{{ partner.logo }}" alt="{{ partner.company }}">
				</a>
			</div>
		{% endif %}
		{% endfor %}
		</div>

		<div class="partner--list">
		<h3>Community Partners</h3>
		{% assign sorted_partners = site.data.partners | sort: 'company' %}
		{% for partner in sorted_partners %}
		{% if partner.level == "community-partner" %}
			<div class="partner--item">
				<a href="{{ partner.url }}" target="_blank">
					<img src="{{ site.baseurl }}/assets/partners/{{ partner.logo }}" alt="{{ partner.company }}">
				</a>
			</div>
		{% endif %}
		{% endfor %}
		</div>

		<div class="partner--list">
		<h3>Organizing Partners</h3>
		{% assign sorted_partners = site.data.partners | sort: 'company' %}
		{% for partner in sorted_partners %}
		{% if partner.level == "organizer" %}
			<div class="partner--item">
				<a href="{{ partner.url }}" target="_blank">
					<img src="{{ site.baseurl }}/assets/partners/{{ partner.logo }}" alt="{{ partner.company }}">
				</a>
			</div>
		{% endif %}
		{% endfor %}
		</div>

	</div>

</div>