---
title: Partners
permalink: "/partners/"
published: true
layout: default
---

<section class="content">

	{% include outdated.html %}

	<div class="sec-head">
	    <div class="block-head">
	    	<h2>Partners</h2>
	    </div>
  	</div>

	<div class="col-1">

		<div class="partner--list">
		<h3>Governmental Partners</h3>
		{% assign sortedpartners = site.data.partners | sort:"order" %}
		{% for partner in sortedpartners %}
		{% if partner.level == "governmental-partner" %}
			<div class="partner--item {% if partner.type == "large" %}partner--item-large{% endif %}">
				<a href="{{ partner.url }}" target="_blank">
					<img src="{{ site.baseurl }}/assets/partners/{{ partner.logo }}" alt="{{ partner.company }}">
				</a>
			</div>
		{% endif %}
		{% endfor %}
		</div>

		<div class="partner--list">
		<h3>Partners</h3>
		{% assign sortedpartners = site.data.partners | sort:"order" %}
		{% for partner in sortedpartners %}
		{% if partner.level == "partner" %}
		{% if partner.type == "large" %}
			<div class="partner--item partner--item-large">
				<a href="{{ partner.url }}" target="_blank">
					<img src="{{ site.baseurl }}/assets/partners/{{ partner.logo }}" alt="{{ partner.company }}">
				</a>
			</div>
		{% endif %}
		{% endif %}
		{% endfor %}
		<div class="partner--list-block">
		{% for partner in sortedpartners %}
		{% if partner.level == "partner" %}
		{% if partner.type == "small" %}
			<div class="partner--item">
				<a href="{{ partner.url }}" target="_blank">
					<img src="{{ site.baseurl }}/assets/partners/{{ partner.logo }}" alt="{{ partner.company }}">
				</a>
			</div>
		{% endif %}
		{% endif %}
		{% endfor %}
		</div>
		</div>

		<div class="partner--list">
		<h3>Training Partners</h3>
		{% assign sortedpartners = site.data.partners | sort:"order" %}
		{% for partner in sortedpartners %}
		{% if partner.level == "training-partner" %}
		{% if partner.type == "large" %}
			<div class="partner--item partner--item-large">
				<a href="{{ partner.url }}" target="_blank">
					<img src="{{ site.baseurl }}/assets/partners/{{ partner.logo }}" alt="{{ partner.company }}">
				</a>
			</div>
		{% endif %}
		{% endif %}
		{% endfor %}
		<div class="partner--list-block partner--list-block-two">
		{% for partner in sortedpartners %}
		{% if partner.level == "training-partner" %}
		{% if partner.type == "small" %}
			<div class="partner--item">
				<a href="{{ partner.url }}" target="_blank">
					<img src="{{ site.baseurl }}/assets/partners/{{ partner.logo }}" alt="{{ partner.company }}">
				</a>
			</div>
		{% endif %}
		{% endif %}
		{% endfor %}
		</div>
		</div>

		<div class="partner--list">
		<h3>Community Partners</h3>
		{% assign sortedpartners = site.data.partners | sort:"order" %}
		{% for partner in sortedpartners %}
		{% if partner.level == "community-partner" %}
			<div class="partner--item {% if partner.type == "large" %}partner--item-large{% endif %}">
				<a href="{{ partner.url }}" target="_blank">
					<img src="{{ site.baseurl }}/assets/partners/{{ partner.logo }}" alt="{{ partner.company }}">
				</a>
			</div>
		{% endif %}
		{% endfor %}
		</div>

		<div class="partner--list">
		<h3>Organizing Partners</h3>
		{% assign sortedpartners = site.data.partners | sort:"order" %}
		{% for partner in sortedpartners %}
		{% if partner.level == "organizer" %}
			<div class="partner--item">
				<a href="{{ partner.url }}" target="_blank">
					<img src="{{ site.baseurl }}/assets/partners/{{ partner.logo }}" alt="{{ partner.company }}">
				</a>
			</div>
		{% endif %}
		{% endfor %}
		</div>

	</div>

</section>

<section class="content">

  <div class="sec-head">
    <h4>Partners for 2018</h4>
    <div class="block-head">
    	<h2>Become a Partner</h2>
    </div>
	
	<div class="col-3-6 col-ml-1">
	<p>This will be our 5th summit and we are on the lookout for partners who wants to take an active part in the event.</p>

	<p>Examples of partnership opportunities:
	<ul class="block-list-disc">
		<li>Tutorial/workshop on company products</li>
		<li>Hosting of welcome reception, lunch or gala dinner</li>
		<li>Private rooms for meetings/showcases</li>
		<li>Equipment demonstrations in the ICS lab</li>
	</ul></p>

	<p>Contact us for more information</p>

	<a href="mailto:info@cs3sthlm.se" class="btn btn-primary">Contact us</a>

	<p>P.S. English is the primary language at the CS3STHLM summit.</p>
	</div>

  </div>

</section>