 <footer class="footer">
 	<div class="footer-inner">

    <ul>
      <li>General Information</li>
      <li><a href="#">Past Events</a></li>
      <li><a href="#">About CS3STHLM</a></li>
      <li><a href="#">Advisory Board</a></li>
    </ul>

    <ul>
    	<li>Speakers</li>
    	<li><a href="#">View our Lineup</a></li>
    	<li><a href="#">All Presentations</a></li>
    	<li><a href="#">Become a Speaker</a></li>
    </ul>

    <ul>
    	<li>Partners</li>
    	<li><a href="#">Our Partners</a></li>
    	<li><a href="#">Become a Partner</a></li>
    </ul>

    <ul>
    	<li>Tickets</li>
    	<li><a href="#">View Tickets</a></li>
    	<li><a href="#">Buy Tickets</a></li>
    </ul>

    <ul>
    	<li>Contact Details</li>
    	<li><a href="#">Information</a></li>
    	<li><a href="#">Press & Media</a></li>
    </ul>

    <ul>
    	<li>Social Media</li>
    	<li><a href="#">Facebook</a></li>
    	<li><a href="#">Twitter</a></li>
    	<li><a href="#">Instagram</a></li>
    	<li><a href="#">YouTube</a></li>
    </ul>

    <p class="typemark">&copy; 2014 - 2017 CS3 STHLM - Organized by Omnisiens AB</p>

    </div>

  </footer>


<script src="{{ site.url }}/js/jquery-2.1.1.js"></script>
<script src="{{ site.url }}/js/swiper.min.js"></script>
<script src="{{ site.url }}/js/main.js"></script>