 <footer class="footer">
 	<div class="footer-inner">

    <ul>
      <li>General Information</li>
      <li><a href="{{ site.baseurl }}/about">About CS3STHLM</a></li>
      <li><a href="{{ site.baseurl }}/about/advisory">Advisory Board</a></li>
      <li><a href="{{ site.baseurl }}/about/history">Past Events</a></li>
    </ul>

    <ul>
    	<li>Speakers & Workshops</li>
    	<li><a href="{{ site.baseurl }}/program/speakers">View Speakers</a></li>
        <li><a href="{{ site.baseurl }}/program/workshops">View Workshops</a></li>
    </ul>

    <ul>
    	<li>Partners</li>
    	<li><a href="{{ site.baseurl }}/partners">Become a Partner</a></li>
    </ul>

    <ul>
    	<li>Tickets</li>
    	<li><a href="https://tickets.4sics.se/sales/" target="_blank">Buy Tickets</a></li>
    </ul>

    <ul>
    	<li>Contact Details</li>
    	<li><a href="{{ site.baseurl }}/contact">Information</a></li>
    	<li><a href="{{ site.baseurl }}/press">Press & Media</a></li>
    </ul>

    <ul>
    	<li>Social Media</li>
    	<li><a href="https://www.facebook.com/CS3sthlm-1109266875868097/" target="_blank">Facebook</a></li>
    	<li><a href="https://twitter.com/Cs3Sthlm" target="_blank">Twitter</a></li>
    	<li><a href="https://www.instagram.com/cs3sthlm/?hl=en" target="_blank">Instagram</a></li>
    	<li><a href="https://www.youtube.com/channel/UCkD15o_9eJxUc9eeHtWSQ6Q" target="_blank">YouTube</a></li>
    </ul>

    <p class="typemark">&copy; 2014 - 2017 CS3 STHLM - Organized by Omnisiens AB</p>

    </div>

  </footer>


<script src="{{ site.baseurl }}/js/jquery-2.1.1.js"></script>
<script src="{{ site.baseurl }}/js/swiper.min.js"></script>
<script src="{{ site.baseurl }}/js/ticker.js"></script>
<script src="{{ site.baseurl }}/js/main.js"></script>