<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>CS3STHLM | {% if page.title %}{{ page.title | strip_html }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta property="og:title" content="{{ site.title }} | {{ page.title }}" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://cs3sthlm.se/assets/cs3_promo_16_9b.jpeg" />
  <meta property="og:url" content="https://www.cs3sthlm.se{{ page.url }}" />
  <meta property="fb:app_id" content="966242223397117" />

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/favicon-16x16.png" sizes="16x16" />
</head>
