---
title: About
permalink: "/about/"
layout: default
---

<section class="content">

  {% include breadcrumbs.html %}

  <div class="column-block column-block-bit">
    <div class="col-8-8">
      <h4 class="sub-headline">About Us</h4>
      <h2 class="title title-yellow">ICS Conference</h2>
    </div>

    <div class="column-block-item col-4-8">
      <p class="spacing-bottom">CS3STHLM – the Stockholm international summit on Cyber Security in SCADA and Industrial Control Systems - is an annual summit that gather the most important stakeholders across critical processes and industries. CS3STHLM has been organized since 2014, and has quickly become the premier ICS Security Summit in Northern Europe!</p>

      <figure class="column-block-image image-tall">
        <span class="fade-block top-fade"></span>
        <img src="{{ site.baseurl }}/assets/photos/cs3sthlm-nalen.jpg" srcset="{{ site.baseurl }}/assets/photos/cs3sthlm-nalen@2x.jpg 2x">
        <span class="fade-block bottom-fade"></span>
      </figure>
    </div>

    <div class="column-block-item col-4-8">
      <h4 class="headline spacing-bottom">Past Events</h4>

      <div class="column-block column-block-bit">
        {% assign sorthistory = site.data.history | sort:'year' | reverse %}
        {% for card in sorthistory %}
        {% if card.type == "summit" %}
        <div class="col-2-8 spacing-bottom">
          <a href="{{ site.baseurl }}/about/history/" class="card-item card-item-filled card-item-linked">
            <h3 class="subtitle subtitle-yellow">{{ card.year }}</h3>
            <h5 class="heading">{{ card.location }}</h5>
            <p>{{ card.date }}</p>
          </a>
        </div>
        {% endif %}
        {% endfor %}
      </div>

      <h4 class="headline">Nalen, Stockholm</h4>
      <p class="spacing-bottom">The venue of our choice, Nalen, has a long and fascinating history. Built in 1888 it has over the years seen a wide range of events ranging from athletic competitions to religious meetings. Today Nalen hosts over a hundred concerts and conferences annually in its carefully renovated premises.</p>

      <a href="{{ site.baseurl }}/practical-details/" class="button button-primary">View Practical Details</a>
    </div>
  </div>

</section>

<section class="content">

  <div class="column-block">

    <div class="column-block-item col-4-8 column-block-bit">
      <div class="column-block">

        <div class="column-block-item column-block-bit">
          <h4 class="headline">Speakers & Trainers</h4>
          <p class="spacing-bottom">We will have multiple stages with the best international speakers and trainers, having excellent social activities and provide hard-to-earn knowledge, no matter if it is deeply technical matters, sucessful solutions or policy briefs.</p>

          <div class="button-group">
            <a href="{{ site.baseurl }}/program/speakers/" class="button button-primary">View Speakers</a>
            <a href="{{ site.baseurl }}/program/trainings/" class="button button-primary">View Trainings</a>
          </div>
        </div>

        <div class="column-block-item">
          <h4 class="headline">Geek Lounge - The ICS Lab</h4>
          <p class="spacing-bottom">The Security Lab is, of course, returning to the CS3STHLM summit of 2019. We plan to add even more ICS and ICS communication equipment to the lab, and we working on extending the IoT security part further.</p>
          <a href="{{ site.baseurl }}/ics-lab/" class="button button-primary">View the ICS Lab</a>
        </div>
      </div>
    </div>

    <div class="column-block-item col-4-8">
      <figure class="card-item-image-detailed">
        <img src="{{ site.baseurl }}/assets/photos/cs3sthlm-erwin-rik.jpg" srcset="{{ site.baseurl }}/assets/photos/cs3sthlm-erwin-rik@2x.jpg 2x">
        <span class="card-item-image-detailed-meta sub-headline">Erwin Kooi & Rik van Hees at cs3sthlm 2018</span>
      </figure>
    </div>

  </div>

</section>