/**
  GENERAL */
html {
  display: block;
  height: 100%;
}
html, body {
  width: 100%;
}

body {
  font-family: 'latoregular', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: $white;
  background: $dark;
  min-height: 100%;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-direction: column;
  -webkit-flex-direction: column;
}

h1, h2, h3, h4 {
  font-family: 'latoblack', Arial, sans-serif;
}


/**
  HOME */

.home {
  background: $dark url('../assets/cs3sthlm-banner.jpg') no-repeat;
  background-size: 100% auto;
  background-position: 0 0;

  @include media-query($mobile) {
    background-image: none;
  }
}



/**
  HEADER */

.header {
  display: block;
  width: 100%;
  max-width: 1160px;
  height: auto;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;

  @include media-query($mobile) {
    height: 88px;
  }

  @include media-query-min($large) {
    max-width: 1380px;
  }

  &--row {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
    
      align-items: center;
      -webkit-align-items: center;
    
      justify-content: flex-start;
      -webkit-justify-content: flex-start;
      padding-top: 65px;

      @include media-query($mobile) {
        padding-top: 20px;
      }
  }
}

.menu--primary {
  display: block;
  margin-left: auto;


  &.menu-open {
    background: $white;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 0;
    width: calc(100% - 20px);

    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;

    .sec-overlay {

      border-bottom: 1px solid #e1e1e1;

      h4 {
        display: block;
      }
      .menu-item {
        color: $dark;
        padding: 30px 20px 30px 30px;
      
        .menu-icon {

          &:before {
            background: $dark;
            transform: rotate(45deg);
            top: 6px;
          }
          &:after {
            background: $dark;
            transform: rotate(-45deg);
            top: 6px;
          }
        }
      }
    }
    ul {
      display: block;
    }

    .menu--secondary {
      display: block;
      position: relative;

      ul li {
        width: auto;
        display: inline-block;
      }
    }
  }

  .sec-overlay {
    display: none;

    @include media-query($mobile) {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
    
      align-items: flex-start;
      -webkit-align-items: flex-start;
      padding: 0;
    }

    h4 {
      font-family: 'latoblack', sans-serif;
      font-weight: normal;
      font-size: 12px;
      letter-spacing: 2px;
      color: $dark;
      text-transform: uppercase;
      padding: 30px 30px 30px 20px;
      box-sizing: border-box;

      display: none;
    }

    .menu-item {
      font-family: 'latoblack', sans-serif;
      font-weight: normal;
      font-size: 12px;
      letter-spacing: 2px;
      color: $white;
      text-transform: uppercase;
      text-decoration: none;
      margin-left: auto;
      padding: 20px 10px 30px 30px;
      box-sizing: border-box;

      .menu-icon {
        display: inline-block;
        position: relative;
        width: 30px;
        height: 12px;
        margin-left: 8px;

        &:before {
          display: block;
          content: '';
          width: 30px;
          height: 2px;
          border-radius: 1px;
          background: $white;
          position: absolute;
          top: 2px;
        }
        &:after {
          display: block;
          content: '';
          width: 30px;
          height: 2px;
          border-radius: 1px;
          background: $white;
          position: absolute;
          top: 10px;
        }
      }
    }
  }

  ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    align-items: flex-start;
    -webkit-align-items: flex-start;

    flex-direction: row;
    -webkit-flex-direction: row;

    list-style: none;

    @include media-query($mobile) {
      margin-top: 20px;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      display: none;
    }

    li {

      margin-left: 30px;

      @include media-query($mobile) {
        margin-left: 0;
        display: block;
        width: 100%;
      }

      a {
        font-family: 'latoblack', sans-serif;
        font-weight: normal;
        font-size: 11px;
        letter-spacing: 2px;
        color: $white;
        text-decoration: none;
        text-transform: uppercase;

        @include transition-ease;

        &:hover {
          color: $yellow;

          #search, #arrow-down {
            fill: $yellow;
          }
        }

        #search, #arrow-down {
          fill: $white;

          @include transition-ease;

          @include media-query($mobile) {
            fill: $dark;
          }
        }

        @include media-query($mobile) {
          display: block;
          color: $dark;
          padding: 10px 0 10px 20px;
          box-sizing: border-box;
          font-size: 14px;
        }
      }
    }

    .submenu-prim {
      display: block;
      position: relative;

      a {
        position: relative;
        z-index: 30;
      }

      &:hover {

        .submenu {
          display: block;
        }
      }

      .icon-arrow-down {
        display: inline-block;
        margin-left: 10px;

        > svg {
          width: auto;
          height: 8px;
        }
      }

      .submenu {
        display: none;
        width: 170px;
        position: absolute;
        top: 30px;
        right: 0;
        background: $blue-dark;
        box-sizing: border-box;
        border-radius: 2px;
        z-index: 20;
        margin: 0;

        @include media-query($mobile) {
          display: block;
          position: relative;
          top: 0;
          background: none;
          width: 100%;
        }

        &:after {
          display: block;
          content: '';
          height: 210px;
          width: calc(100% + 20px);
          background: rgba($white, .0);

          position: absolute;
          top: -30px;
          left: -10px;
          z-index: -1;

          @include media-query($mobile) {
            display: none;
          }
        }

        li {
          display: block;
          box-sizing: border-box;
          border-bottom: 1px solid $dark;
          margin-left: 0;

          @include media-query($mobile) { 
            border-bottom: none;
          }

          &:last-of-type {
            border-bottom: none;
          }

          a {
            display: block;
            padding: 12px 20px;
            box-sizing: border-box;

            @include media-query($mobile) {
              font-size: 12px;
              padding-left: 40px;
              position: relative;

              &:before {
                display: block;
                content: '';
                width: 8px;
                height: 1px;
                background: $blue-dark;
                position: absolute;
                left: 20px;
                top: 50%;
              }
            }
          }
        }
      }
    }
  }
}

.menu--secondary {
  display: block;
  background: $yellow;
  width: auto;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 0 4px 4px;
  padding: 0 20px;
  box-sizing: border-box;

  @include media-query($mobile) {
    display: none;
  }

  ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  
    align-items: flex-start;
    -webkit-align-items: flex-start;
 
    flex-direction: row;
    -webkit-flex-direction: row;

    li {
      margin-left: 0;

      a {
        display: block;
        font-family: 'latoblack', sans-serif;
        font-weight: normal;
        font-size: 9px;
        letter-spacing: 2px;
        color: $dark;
        text-decoration: none;
        text-transform: uppercase;
        padding: 14px 10px;
        box-sizing: border-box;

        @include transition-ease;

        &:hover {
          color: $white;

          #facebook, #twitter, #instagram {
            fill: $white;
          }
        }

        #facebook, #twitter, #instagram {
          fill: $dark;
          @include transition-ease;
        }
      }
    }
  }
}

/**
  SOCIAL - ICONS */

.social-icon {
  display: block;
  height: 10px;
  width: auto;
}
.icon {
  display: block;
  height: 10px;
  width: 10px;
}

/**
  BRAND */

.brand {
  display: block;
  background: url('../assets/cs3sthlm-logo.png') no-repeat;
  background-size: 100%;
  width: 119px;
  height: 132px;

  text-indent: -9999px;

  @include media-query($mobile) {
    background: url('../assets/cs3sthlm-logo-basic.svg') no-repeat;
    width: 60px;
    height: 50px;
  }
}



/**
  BASE */

.wrap {
  display: block;
  width: 100%;
  box-sizing: border-box;
  flex: 1 0 auto;
  padding-top: 130px;

  @include media-query($mobile) {
    padding-top: 60px;
  }
}




/**
  CONTENT */

.content {
  display: block;
  width: 100%;
  max-width: 1160px;
  padding: 0 20px 120px;;
  box-sizing: border-box;
  margin: 0 auto;

  @include media-query($mobile) {
    padding: 0 0 60px;
  }

  @include media-query-min($large) {
    max-width: 1380px;
  }
}

.introduction {
  margin: 0 auto;

  @include media-query($mobile) {
    padding: 0 20px;
  }

  .feed-news {
    display: inline-block;
    width: auto;
    background: $blue-dark;
    border-radius: 20px;
    padding: 1px 14px 4px;
    box-sizing: border-box;
    margin-top: 40px;

    @include media-query($mobile) {
      margin-top: 20px;
      width: 100%;
    }

    a {

      &:hover {

        p { color: $yellow; }

        .read-more-icon {
          border-color: $yellow;
        }
      }
    }

    .read-more-icon {
      display: inline-block;
      background: none;
      width: 6px;
      height: 6px;
      transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      border-right: 1.5px solid white;
      border-top: 1.5px solid white;
      border-radius: 0px;
      border-left: none;
      border-bottom: none;
      box-sizing: border-box;
      margin-left: 8px;
      margin-bottom: 1px;

      @include transition-ease;

      @include media-query($mobile) {
        float: right;
        margin-top: 10px;
      }
    }

    .feed-category {
      display: inline-block;
      font-family: 'latoblack', sans-serif;
      font-weight: normal;
      font-size: 11px;
      color: $red;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-right: 10px;

      @include media-query($mobile) {
        max-width: 15%;
        margin-right: 2.5%;
      }

      @include media-query-min($large) {
        font-size: 13px;
      }
    }

    p {
      display: inline-block;
      font-family: 'latoregular', sans-serif;
      font-weight: normal;
      font-size: 11px;
      color: $white;
      letter-spacing: 0.045em;

      @include transition-ease;

      @include media-query($mobile) {
        max-width: 80.5%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      @include media-query-min($large) {
        font-size: 13px;
      }
    }
  }

  .intro-mark {

    .headline-row {
      font-family: 'latoblack', sans-serif;
      font-weight: normal;
      font-size: 56px;
      color: $white;
      letter-spacing: 2px;
      text-transform: uppercase;
      line-height: 1.25;

      .highlighted {
        color: $yellow;
        margin-right: 12px;
      }

      @include media-query($mobile) {
        font-size: 36px;
      }
      @include media-query-min($large) {
        font-size: 60px;
      }
    }
  }

  .subject-row {
    display: block;
    margin: 12px 0 30px;

    h2 {
      font-family: 'latoregular', sans-serif;
      font-weight: normal;
      font-size: 24px;
      color: $white;

      @include media-query-min($large) {
        font-size: 29px;
        line-height: 1.24;
      }

      span {
        display: block;
      }
    }

    h3 {
      display: block;
      font-family: 'latoblack', sans-serif;
      font-weight: normal;
      font-size: 12px;
      color: rgba($white, .8);
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-top: 4px;

      @include media-query-min($large) {
        font-size: 15px;
        margin-top: 8px;
      }
    }
  }

  .btn-group-intro {

    .btn {
      margin-left: 30px;
      
      &:first-of-type {
        margin-left: 0;
      }
    }

    @include media-query($mobile) {
      .btn {
        width: 47.5%;
        margin-left: 0;
        padding: 10px 14px;

        &:last-of-type {
          margin-top: 20px;
        }
        &:nth-child(2) {
          margin-left: 4%;
        }
      }

      .btn-yellow {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
}


.about {
  margin: 130px auto 0;

  @include media-query($mobile) {
    margin: 60px auto 0;
    padding: 0 0 60px;
  }
}
.speakers {
  display: none;
  margin: 130px auto 0;
}

.sec-head {

  @include media-query($mobile) {
    padding: 0 20px;
  }

  &.sec-head-single-post {

    h4 {
      position: relative;
      margin-bottom: 40px;
      
      &:after {
        display: block;
        content: '';
        width: 40px;
        height: 1px;
        background: rgba($white, .5);
        position: absolute;
        bottom: -20px;
      }
    }
  }

  h4 {
    font-family: 'latoblack', sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: rgba($white, .8);
    letter-spacing: 8px;
    text-transform: uppercase;
    margin-bottom: 10px;

    @include media-query-min($large) {
      font-size: 14px;
      letter-spacing: 10px;
    }
  }

  h2 {
    font-family: 'latoblack', sans-serif;
    font-weight: normal;
    font-size: 48px;
    color: $yellow;
    margin-bottom: 50px;
    position: relative;

    @include media-query-min($large) {
      font-size: 60px;
    } 

    &:after {
      display: block;
      content: '';
      width: 40px;
      height: 1px;
      background: rgba($white, .5);
      position: absolute;
      bottom: -60px;
    }

    @include media-query($mobile) {
      margin-bottom: 40px;
      line-height: 1.25;

      &:after {
        bottom: -20px;
      }
    }
  }

  p {
    display: block;
    width: 100%;
    max-width: 560px;
    margin-left: 190px;

    font-family: 'latoregular', sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: rgba($white, .85);

    @include media-query($mobile) {
      margin-left: 0;
    }

    @include media-query-min($large) {
      max-width: 660px;
      margin-left: 227px;
      font-size: 23px;
    }
  }

  .block-head {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  
    align-items: flex-start;
    -webkit-align-items: flex-start;

    .btn {
      margin-left: auto;
      margin-top: 25px;

      @include media-query($mobile) {
        margin-left: 0;
        margin-bottom: 20px;
      }
    }

    @include media-query($mobile) {

      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;

      h2 {
        width: 100%;
      }
    }
  }

  .single-block {
    display: block;
    width: calc(100% - 190px);
    margin-left: 190px;

    @include media-query($mobile) {
      width: 100%;
      margin-left: 0;
    }

    p {
      margin-left: 0;
      margin-bottom: 20px;
      max-width: 550px;

      a {
        color: $white;

        @include transition-ease;

        &:hover {
          color: $yellow;
        }
      }
    }

    .btn {
      margin-bottom: 40px;
    }

    ul {
      display: block;
      list-style: dotted;
      margin-bottom: 10px;

        li {
          font-family: 'latoregular', sans-serif;
          font-weight: normal;
          font-size: 18px;
          margin-bottom: 10px;
          margin-left: 20px;
          color: rgba($white, .85);
        }
    }
    .clean-list {
      list-style: none;

      li {
        margin-left: 0;
        margin-bottom: 0;
      }
    }
  }

  .group-block {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  
    align-items: flex-start;
    -webkit-align-items: flex-start;

    width: calc(100% - 190px);
    margin-left: 190px;

    @include media-query($mobile) {
      width: 100%;
      margin-left: 0;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
    }

    @include media-query-min($large) {
      width: calc(100% - 227px);
      margin-left: 227px;
    }

    p {
      margin-left: 0;
      max-width: 360px;
    }

    h3 {
      display: block;
      font-family: 'latoblack', sans-serif;
      font-weight: normal;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 2px;
      position: relative;
    }

    .block-item {
      display: block;
      margin-left: auto;
      max-width: 50%;

      @include media-query($mobile) {
        margin-left: 0;
        margin-bottom: 40px;
        max-width: 100%;
      }

      @include media-query-min($large) {

        max-width: 38%;
        margin-left: 0;

        &:first-of-type {
          max-width: calc(62% - 22px);
          margin-right: 22px;
        }

        p {
          max-width: 100%;
        }
      }

      &.block-item-right {

        ul {
          margin-bottom: 40px;
        }
      }

      p {
        margin-bottom: 20px;
      }

      h3 {
        position: relative;
        margin-bottom: 30px;

        &:after {
          display: block;
          content: '';
          width: 40px;
          height: 1px;
          background: rgba($white, .5);
          position: absolute;
          bottom: -11px;
        }

        @include media-query-min($large) {
          margin-bottom: 14px;

          &:after {
            bottom: -5px;
          }
        }
      }

      .block-list-disc {
        list-style: disc;

        li {
          margin-bottom: 10px;
          margin-left: 20px;
        }
      }

      ul {
        list-style: none;

        li {
          font-family: 'latoregular', sans-serif;
          font-weight: normal;
          font-size: 18px;
          color: rgba($white, .85);
        }
      }
    }

    .img-block {
      display: block;
      margin-left: auto;

      @include media-query($mobile) {
        margin-left: 0;
        margin-top: 40px;
      }

      img {
        width: 420px;
        border-radius: 2px;

        @include media-query($mobile) {
          width: calc(100% + 40px);
          border-radius: 0;
          margin-left: -20px;
        }
      }
      h3 {
        margin-left: 60px;
        margin-top: 20px;

        @include media-query($mobile) {
          margin-left: 0;
        }
      }
      ul {
        margin-left: 60px;
        list-style: none;

        @include media-query($mobile) {
          margin-left: 0;
        }

        li {
          font-family: 'latoregular', sans-serif;
          font-weight: normal;
          font-size: 16px;
          color: rgba($white, .85);
        }
      }
    }
  }
}


.sec-content {
  display: block;
  width: 100%;
  margin-top: 130px;

  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  @include media-query($mobile) {
    margin-top: 60px;
  }
}

.sec-columns {
  display: block;

  @include media-query($mobile) {
    background: $blue-dark;
    padding: 30px 0;
    box-sizing: border-box;
    margin-top: 60px;
  }

  .sec-columns-inner {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    align-items: flex-start;
    -webkit-align-items: flex-start;

    flex-direction: row;
    -webkit-flex-direction: row;
  }

  .column-item {
    display: block;
    width: 100%;
    max-width: 360px;
    margin-right: 20px;

    &:last-of-type {
      margin-right: 0;
    }

    @include media-query($mobile) {
      max-width: 100%;
      margin-right: 0;
      padding: 0 20px 30px;
      box-sizing: border-box;
    }

    @include media-query-min($large) {
      max-width: 434px;
    }

    h3 {
      display: block;
      font-family: 'latoblack', sans-serif;
      font-weight: normal;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 2px;
      position: relative;
      margin-bottom: 22px;

      @include media-query-min($large) {
        font-size: 16px;
      }

      &:after {
        display: block;
        content: '';
        width: 40px;
        height: 1px;
        background: rgba($white, .5);
        position: absolute;
        bottom: -11px;
      }
    }

    p {
      display: block;
      font-family: 'latoregular', sans-serif;
      font-weight: normal;
      font-size: 16px;
      margin-bottom: 20px;
      color: rgba($white, .85);

      @include media-query-min($large) {
        font-size: 18px;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  .subline {
    font-family: 'latoblack', sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: rgba($white, .8);
    letter-spacing: 8px;
    text-transform: uppercase;
    margin-bottom: 40px;

    @include media-query($mobile) {
      padding-left: 20px;
      box-sizing: border-box;
    }
  }

  .column-block-item {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  
    align-items: flex-start;
    -webkit-align-items: flex-start;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    
    margin-top: 40px;
  
    h5 {
      display: block;
      width: 60%;
      font-family: 'latoblack', sans-serif;
      font-weight: normal;
      font-size: 15px;
      color: $yellow;
    }
    .distance-details {
      margin-left: auto;
      margin-right: 20px;
      font-family: 'latoregular', sans-serif;
      font-weight: normal;
      font-size: 15px;
    }
  }
}

.sec-blocks {


  @include media-query($mobile) {
    padding: 0 20px;
    box-sizing: border-box;
  }

  .sub-headline {
    font-family: 'latoblack', sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: rgba($white, .8);
    letter-spacing: 8px;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: block;
    position: relative;

    &:after {
      display: block;
      content: '';
      width: 40px;
      height: 1px;
      background: rgba($white, .5);
      position: absolute;
      bottom: -11px;
    }
  }

  .sec-blocks-row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  
    align-items: center;
    -webkit-align-items: center;
  
    justify-content: space-between;
    -webkit-justify-content: space-between;

    margin-top: 40px;

    @include media-query($mobile) {
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
    }

    .block-item {
      display: block;
      width: 32.15%;
      max-width: 360px;
      background: $blue-dark;
      border-radius: 2px;
      box-sizing: border-box;
      padding: 30px 40px;
      text-decoration: none;
      color: $white;

      @include transition-ease;

      @include media-query($mobile) {
        width: 100%;
        max-width: 100%;
        padding: 20px;
        margin-bottom: 5%;
      }

      &:hover {
        color: $yellow;
        background: rgba($blue-dark, .5);

        span {
          color: $yellow;
        }
      }

      h3 {
        color: $yellow;
        font-size: 36px;
      }
      h5 {
        font-family: 'latoblack', sans-serif;
        font-size: 18px;
        margin: 0;
      }
      p {
        font-family: 'latoregular', sans-serif;
        font-size: 18px;
        color: rgba($white, .85);
      }
      span {
        display: inline-block;
        font-family: 'latoblack', sans-serif;
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 20px;
        text-decoration: underline;
        color: rgba($white, .85);

        @include transition-ease;
      }
    }
  }
}

.sec-group-details {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  align-items: center;
  -webkit-align-items: center;

  justify-content: center;
  -webkit-justify-content: center;

  width: 100%;
  max-width: 800px;

  @include media-query($mobile) {
    height: 275px;
    position: relative;

    &:after {
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        background: rgba($dark, .5);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
      }
  }

  @include media-query-min($large) {
    max-width: 946px;
  }

  &.left-details {
    margin-left: -60px;
    margin-bottom: 60px;

    .sec-group-details-content {
      margin-left: 20px;
    }

    @include media-query($mobile) {
      margin-left: 0;
      margin-bottom: 20px;

      .sec-group-details-content {
        margin-left: 0;
      }
    }

    @include media-query-min($large) {

      .sec-group-details-content {
        margin-left: 22px;
      }
    }
  }

  &.right-details {
    float: right;
    margin-right: -60px;
    margin-bottom: 60px;

    .sec-group-details-content {
      margin-right: 20px;
      text-align: right;

      h3:after {
        right: 0;
      }
    }

    @include media-query($mobile) {
      margin-right: 0;

      .sec-group-details-content {
        margin-right: 0;
        text-align: left;

        h3:after {
          left: 0;
        }
      }
    }

    @include media-query-min($large) {

      .sec-group-details-content {
        margin-right: 22px;
      }
    }
  }

  img {
    display: block;
    width: 100%;
    max-width: 420px;

    @include media-query($mobile) {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }

    @include media-query-min($large) {
      max-width: 492px;
    }
  }

  &-content {
    display: block;

    @include media-query($mobile) {
      z-index: 10;
      padding: 0 20px;
      box-sizing: border-box;
    }

    h3 {
      display: block;
      font-family: 'latoblack', sans-serif;
      font-weight: normal;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 2px;
      position: relative;
      margin-bottom: 22px;

      @include media-query-min($large) {
        font-size: 16px;
      }

      &:after {
        display: block;
        content: '';
        width: 40px;
        height: 1px;
        background: rgba($white, .5);
        position: absolute;
        bottom: -11px;
      }
    }

    p {
      display: block;
      font-family: 'latoregular', sans-serif;
      font-weight: normal;
      font-size: 16px;
      margin-bottom: 20px;
      color: rgba($white, .85);

      @include media-query-min($large) {
        font-size: 18px; 
      }
    }
  }
}

.sec-cards {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  align-items: flex-start;
  -webkit-align-items: flex-start;

  justify-content: space-between;
  -webkit-justify-content: space-between;

  box-sizing: border-box;
  padding-top: 60px;

  @include media-query($mobile) {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
  }

  .card-item {
    display: block;
    width: 32.15%;
    max-width: 360px;
    background: rgba($blue-dark, .5);
    box-sizing: border-box;
    border-radius: 2px;
    padding: 40px 20px;

    @include media-query($mobile) {
      width: 100%;
      max-width: 100%;
      padding: 20px;
      margin-bottom: 40px;
    }

    h2 {
      color: $yellow;
      font-size: 48px;
    }
    h3 {
      font-size: 24px;
    }
    .card-item-date {
      font-family: 'latoregular', sans-serif;
      font-size: 24px;
      color: rgba($white, .85);
    }

    ul {
      display: block;
      list-style: none;
      border-top: 1px solid rgba($white, .1);
      box-sizing: border-box;
      padding: 10px 0 0;
      margin: 10px 0 0;

      li {
        font-family: 'latoregular', sans-serif;
        font-size: 24px;
        color: rgba($white, .85);

        span {
          color: $yellow;
          margin-right: 8px;
        }
      }
    }

    .card-item-link {
      display: block;
      border-top: 1px solid rgba($white, .1);
      border-bottom: 1px solid rgba($white, .1);
      box-sizing: border-box;
      padding: 14px 0;
      margin: 10px 0;
      font-size: 15px;
      text-decoration: underline;
      color: rgba($white, .5);

      @include transition-ease;

      &:hover {
        color: $yellow;
      }
    }

    .card-item-subline {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
    
      align-items: center;
      -webkit-align-items: center;

      font-family: 'latoblack', sans-serif;
      font-size: 12px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: rgba($white, .5);
      box-sizing: border-box;
      padding-top: 10px;
    }

    .omnisiens-logo {
      display: inline-block;
      width: 140px;
      height: 22px;
      background: url('../assets/omnisiens-logo.svg') no-repeat;
      background-size: 100%;
      margin-left: 10px;
    }
  }
}

.advisory-cards {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  align-items: stretch;
  -webkit-align-items: stretch;

  justify-content: space-between;
  -webkit-justify-content: space-between;

  box-sizing: border-box;
  padding-top: 60px;

  @include media-query($mobile) {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
  }

  .card-item {
    display: block;
    width: 32.15%;
    max-width: 360px;
    background: rgba($blue-dark, .5);
    box-sizing: border-box;
    border-radius: 2px;
    padding: 0 0 60px;
    position: relative;

    @include media-query($mobile) {
      width: 100%;
      max-width: 100%;
      padding: 0 0 60px;
      margin-bottom: 40px;
    }

    .speaker-image {
      display: block;
      width: 100%;

      img {
        display: block;
        width: 100%;
        border-radius: 2px 2px 0 0;
      }
    }

    h2 {
      display: block;
      padding: 20px;
      box-sizing: border-box;
      color: $white;
      font-size: 18px;
    }
    h3 {
      display: block;
      padding: 0 20px;
      box-sizing: border-box;
      font-size: 13px;
    }
    .card-item-work {
      font-family: 'latoregular', sans-serif;
      font-size: 13px;
      display: block;
      padding: 10px 20px 0;
      margin-top: 10px;
      box-sizing: border-box;
      position: relative;

      &:before {
        display: block;
        content: '';
        background: rgba($white, .25);
        width: 20px;
        height: 1px;
        position: absolute;
        top: 0;
      }
    }
    .card-item-location {
      font-family: 'latoblack', sans-serif;
      font-size: 11px;
      display: block;
      padding: 0 20px 20px;
      margin-top: 20px;
      box-sizing: border-box;
      position: absolute;
      bottom: 0;
    }
  }
}


.workshop--list-group {

  @include media-query($mobile) {
    padding: 0 20px;
    box-sizing: border-box;
  }

  .subpar-headline {
    font-family: 'latoregular', sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .workshop--list-item {
    display: block;
    padding: 10px 0 0;
    margin: 10px 0 0;
    box-sizing: border-box;
    border-top: 1px solid rgba($white, .25);
  }

  .workshop--list-link {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  
    align-items: center;
    -webkit-align-items: center;

    color: $white;
    text-decoration: none;

    @include transition-ease;

    @include media-query($mobile) {
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
    }

    &:hover {
      color: $yellow;
    }

    .workshop--meta {
      display: block;
      margin-right: 20px;
    }

    .workshop--meta-sub {
      display: block;
      font-size: 15px;
      text-transform: uppercase;
    }

    .workshop--list-title {
      font-size: 18px;
    }
  }

}


/**
  BUTTONS */

.btn {
  display: inline-block;
  min-width: 120px;
  padding: 10px 24px;
  box-sizing: border-box;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
  font-family: 'latoblack', sans-serif;
  font-weight: normal;
  letter-spacing: 2px;
  box-shadow: 0 2px 4px rgba($dark, .1);

  @include transition-ease;

  @include media-query-min($large) {
    font-size: 12px;
  }
}
.btn-primary {
  background: $blue-dark;
  color: $white;

  &:hover {
    color: $yellow;
  }
}
.btn-yellow {
  background: $yellow;
  color: $white;

  &:hover {
    color: $dark;
  }
}
.btn-blue {
  background: $blue;
  color: $white;

  &:hover {
    color: $dark;
  }
}

.btn-intro-more {
  display: none;

  @include media-query($mobile) {
    display: inline-block;
  }
}

.btn-icon {

  &.btn-yellow {
    &:hover {
      #external-link, #download {
        fill: $dark;
      }
    }
  }

  &:hover {

    #external-link, #download {
      fill: $yellow;
    }
  }

  .external-icon, .download-icon {
    display: inline-block;
    width: 11px;
    height: 11px;
    margin-left: 10px;
  }

  #external-link, #download {
    fill: $white;
    @include transition-ease;
  }
}


/**
  ARTICLES */

.post {
  display: block;
  width: 70%;
  margin: 0;

  @include media-query($mobile) {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
  }

  @include media-query-min($large) {
    width: 60%;
  }

  .post-header {
    display: block;
    margin-bottom: 40px;

    @include media-query($mobile) {
      margin-bottom: 20px;
    }

    .post-title {
      font-size: 48px;
      color: $yellow;

      @include media-query($mobile) {
        font-size: 32px;
        line-height: 1.25;
        letter-spacing: -.5px;
      }

      @include media-query-min($large) {
        font-size: 60px;
        line-height: 1.25;
      }
    }

    .post-meta {

      @include media-query($mobile) {
        margin-bottom: 10px;
      }
    }

    .post-meta-pdf {
      display: inline-block;
      float: right;
      padding-right: 120px;
      color: $white;

      @include transition-ease;

      @include media-query($mobile) {
        padding-right: 0;
      }
      @include media-query-min($large) {
        padding-right: 0;
      }

      &:hover {
        color: $yellow;
      }
    }
  }

  .post-content {
    display: block;

    p {
      display: block;
      max-width: 650px;
      margin-bottom: 20px;
      font-family: 'latoregular', sans-serif;
      font-size: 18px;
      color: rgba($white, 0.85);

      &:first-of-type {
        font-family: 'latobold', sans-serif;
        font-size: 21px;
        color: rgba($white, 1);

        @include media-query($mobile) {
          font-size: 18px;
        }
        @include media-query-min($large) {
          font-size: 23px;
          margin-bottom: 24px;
        }
      }

      img {
        display: inline-block;
        width: 100%;
        max-width: 45%;
        margin-top: 40px;

        &:nth-child(2) {
          margin-left: 9%;
        }

        @include media-query($mobile) {
          max-width: 100%;

          &:nth-child(2) {
            margin-left: 0;
          }
        }
      }

      a {
        color: $yellow;
        @include transition-ease;

        &:hover {
          color: $white;
        }
      }

      @include media-query($mobile) {
        margin-bottom: 24px;
      }

      @include media-query-min($large) {
        max-width: 100%;
        font-size: 23px;
      }
    }

    h3, h4 {
      margin-bottom: 20px;
    }

    ul {
      display: block;
      margin-bottom: 20px;

      li {
        margin-left: 20px;
        margin-bottom: 10px;
        color: rgba($white, 0.85);

        @include media-query-min($large) {
          font-size: 23px;
        }
      }
    }

    blockquote p {
      font-family: 'latoregular', sans-serif;
      font-style: italic;
      font-size: 18px;

      @include media-query-min($large) {
        font-size: 23px;
      }
    }
  }

  .post-contact-details {
    display: block;
    padding-top: 40px;
    margin-top: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba($white, .25);

    p {
      font-size: 15px;
    }
    ul {
      display: block;
      list-style: none;
      margin: 10px 0;
      font-size: 15px;
    }
  }
}


/**
  FOOTER */

.footer {
  display: block;
  width: 100%;
  max-width: 100%;

  &-inner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  align-items: flex-start;
  -webkit-align-items: flex-start;

  flex-direction: row;
  -webkit-flex-direction: row;

  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;

  width: 100%;
  max-width: 1160px;
  padding: 0 20px 40px;
  box-sizing: border-box;
  margin: 0 auto;

  @include media-query-min($large) {
    max-width: 1380px;
  }

    ul {
      display: block;
      width: 170px;
      max-width: 170px;
      list-style: none;
      margin-right: 20px;

      &:last-of-type {
        margin-right: 0;
      }

      @include media-query($mobile) {
        width: 50%;
        max-width: 50%;
        margin: 0 0 20px;
      }

      @include media-query-min($large) {
        width: 205px;
        max-width: 205px;
        margin-right: 22px;
      }

      li {

        &:first-of-type {
          font-family: 'latoblack', sans-serif;
          font-weight: normal;
          font-size: 11px;
          text-transform: uppercase;
          color: $white;
          letter-spacing: 1px;
        }

        a {
          font-family: 'latoregular', sans-serif;
          font-weight: normal;
          font-size: 11px;
          color: rgba($white, .8);
          letter-spacing: 1px;
          text-decoration: none;

          @include transition-ease;

          &:hover {
            color: $yellow;
          }
        }
      }
    }
    .typemark {
      display: block;
      width: 100%;
      margin-top: 40px;
      font-family: 'latoregular', sans-serif;
      font-weight: normal;
      font-size: 11px;
      color: rgba($white, .8);
      letter-spacing: 1px;
    }
  }
}

@include media-query($mobile) {

.swiper-container {
  width: 100%;
  height: 100%;
}
/**
 * Swiper 3.4.2
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * 
 * http://www.idangero.us/swiper/
 * 
 * Copyright 2017, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us/
 * 
 * Licensed under MIT
 * 
 * Released on: March 10, 2017
 */
.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  /* Fix of Webkit flickering */
  z-index: 1;
}
.swiper-container-no-flexbox .swiper-slide {
  float: left;
}
.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}
.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}
.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
}
/* Auto Height */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}
.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-transition-property: -webkit-transform, height;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform, height;
}
/* a11y */
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}
/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}

/* Pagination Styles */
.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}
/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10px;
  left: 0;
  width: 100%;
}
.swiper-pagination-fraction {
  font-family: 'latoblack', sans-serif;
  font-size: 12px;
  color: rgba($white, .5);

  .swiper-pagination-current {
    color: $yellow;
  }
}
/* Bullets */
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
}
button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: $yellow;
}
.swiper-pagination-black .swiper-pagination-bullet-active {
  background: $dark;
}
.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
  -moz-transform: translate3d(0px, -50%, 0);
  -o-transform: translate(0px, -50%);
  -ms-transform: translate3d(0px, -50%, 0);
  transform: translate3d(0px, -50%, 0);
}
.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 5px 0;
  display: block;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px;
}

}
