// SPEAKER FRAME - GROUP //

.speaker {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;

	&-item {
		display: flex;
		width: calc(100% / 6);
		overflow: hidden;
		flex-direction: column;
		margin-bottom: 24px;

		@include media-query($medium) {
			width: calc(100% / 5);
		}
		@include media-query($small) {
			width: calc(100% / 4);
		}
		@include media-query($mobile) {
			width: calc(100% / 2);
			margin-bottom: 0;
			display: block;
		}
		// NORMAL Breakpoint - 6 ITEMS
		&:nth-child(6n+2) {
			.speaker-item-details {
				left: -100%;
			}
		}
		&:nth-child(6n+3) {
			.speaker-item-details {
				left: -200%;
			}

		}
		&:nth-child(6n+4) {
			.speaker-item-details {
				left: -300%;
			}

		}
		&:nth-child(6n+5) {
			.speaker-item-details {
				left: -400%;
			}

		}
		&:nth-child(6n+6) {
			.speaker-item-details {
				left: -500%;
			}

		}

		// Giant Breakpoint - 6 ITEMS
		&:nth-child(6n+2) {
			@include media-query-min($giant) {
				.speaker-item-details {
					left: -100%;
				}
			}
		}
		&:nth-child(6n+3) {
			@include media-query-min($giant) {
				.speaker-item-details {
					left: -200%;
				}
			}
		}
		&:nth-child(6n+4) {
			@include media-query-min($giant) {
				.speaker-item-details {
					left: -300%;
				}
			}
		}
		&:nth-child(6n+5) {
			@include media-query-min($giant) {
				.speaker-item-details {
					left: -400%;
				}
			}
		}
		&:nth-child(6n+6) {
			@include media-query-min($giant) {
				.speaker-item-details {
					left: -500%;
				}
			}
		}
		// Large Breakpoint - 6 ITEMS
		&:nth-child(6n+2) {
			@include media-query($large) {
				.speaker-item-details {
					left: -100%;
				}
			}
		}
		&:nth-child(6n+3) {
			@include media-query($large) {
				.speaker-item-details {
					left: -200%;
				}
			}
		}
		&:nth-child(6n+4) {
			@include media-query($large) {
				.speaker-item-details {
					left: -300%;
				}
			}
		}
		&:nth-child(6n+5) {
			@include media-query($large) {
				.speaker-item-details {
					left: -400%;
				}
			}
		}
		&:nth-child(6n+6) {
			@include media-query($large) {
				.speaker-item-details {
					left: -500%;
				}
			}
		}
		// Medium Breakpoint - 5 ITEMS
		&:nth-child(5n+1) {
			@include media-query($medium) {
				.speaker-item-details {
					left: 0;
				}
			}
		}

		&:nth-child(5n+2) {
			@include media-query($medium) {
				.speaker-item-details {
					left: -100%;
				}
			}
		}

		&:nth-child(5n+3) {
			@include media-query($medium) {
				.speaker-item-details {
					left: -200%;
				}
			}
		}

		&:nth-child(5n+4) {
			@include media-query($medium) {
				.speaker-item-details {
					left: -300%;
				}
			}
		}

		&:nth-child(5n+5) {
			@include media-query($medium) {
				.speaker-item-details {
					left: -400%;
				}
			}
		}
		// Small Breakpoint - 5 ITEMS
		&:nth-child(4n+1) {
			@include media-query($small) {
				.speaker-item-details {
					left: 0;
				}
			}
			@include media-query($mobile) {
				.speaker-item-details {
					left: 0;
				}
			}
		}

		&:nth-child(4n+2) {
			@include media-query($small) {
				.speaker-item-details {
					left: -100%;
				}
			}
			@include media-query($mobile) {
				.speaker-item-details {
					left: 0;
				}
			}
		}

		&:nth-child(4n+3) {
			@include media-query($small) {
				.speaker-item-details {
					left: -200%;
				}
			}
			@include media-query($mobile) {
				.speaker-item-details {
					left: 0;
				}
			}
		}

		&:nth-child(4n+4) {
			@include media-query($small) {
				.speaker-item-details {
					left: -300%;
				}
			}
			@include media-query($mobile) {
				.speaker-item-details {
					left: 0;
				}
			}
		}

		&-frame {
			display: flex;
			flex-direction: column;

			position: relative;
			height: 336px;
			min-height: 336px;
			overflow: hidden;

			@include media-query($small) {
				height: auto;
				min-height: auto;
			}

			&:hover {
				cursor: pointer;

				&-type span {
		          width: auto;
		          height: auto;
		          opacity: 1;
		        }

		        .speaker-item-frame-image {
		        	transform: scale(1.05);
		        }
			}

			@include media-query-min($giant) {
				height: 420px;
				min-height: 420px;
			}

			@include media-query($mobile) {
				height: auto;
				min-height: auto;
			}

			&:before {
				display: block;
				content: '';
				width: 100%;
				height: 75%;
				position: absolute;
				bottom: 0;
				left: 0;
				z-index: 20;
				background: linear-gradient(transparent, rgba($dark, .65)) top;
				pointer-events: none;
			}

			&-special {
				display: flex;
				width: 100%;
				background: rgba($blue-darken, 1);
				padding: 8px 24px;
				box-sizing: border-box;
				position: absolute;
				top: 0;
				left: 0;

				&-heading {
					font-family: 'latobold', sans-serif;
					font-size: 10px;
					font-weight: normal;
					font-style: normal;
					line-height: 21px;
					color: $yellow;
					letter-spacing: 2px;
					text-shadow: 0 0 8px rgba($dark, .75);
					text-transform: uppercase;
					text-align: center;
					width: 100%;
				}
			}

			&-image {
				display: block;
				width: 100%;
				height: auto;

				@include transition-ease;
			}

			&-data {
				display: block;
				padding: 24px;
				box-sizing: border-box;
				width: 100%;
				position: absolute;
				bottom: 0;
				left: 0;
				z-index: 30;

				@include media-query($mobile) {
					padding: 14px;
					
					.speaker-role {
						display: none;
					}
				}
			}

			&-type {
	          font-family: 'latoblack', sans-serif;
	          font-size: 11px;
	          font-weight: normal;
	          letter-spacing: 2px;
	          line-height: 1;
	          text-transform: uppercase;
	          color: rgba($white, .5);
	          border: 2px solid rgba($white, .2);
	          padding: 6px 6px 6px 9px;
	          display: inline-block;
	          border-radius: 20px;
	          overflow: hidden;
	          margin-bottom: 6px;

	          &:hover {
	            span {
	              width: auto;
	              height: auto;
	              opacity: 1;
	            }
	          }
	          span {
	            display: inline-block;
	            width: 0;
	            height: 0;
	            opacity: 0;
	            overflow: hidden;
	          }
			}
		}

		&-link {
			display: inline-block;
			color: $white;
			margin-bottom: 8px;

			@include media-query-min($large){
				font-size: 21px;
			}

			&:hover {
				color: $yellow;
			}
		}

		&-details-active {
			overflow: visible;

			.speaker-item-details {
				display: flex;
				z-index: 50;

				@include media-query($mobile) {
					display: block;
				}
			}
			.speaker-item-frame {
				z-index: 50;

				&:before {
					background: none;
				}

				&-data {
					display: none;
				}

				&-special {
					display: none;
				}
			}

			&:before {
				display: block;
				content: '';
				background: rgba($dark, .666);
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 40;
				pointer-events: none;
			}
		}

		&-details {
			display: none;
			background: $blue-darken;
			width: 600%;
			height: auto;
			position: relative;
			border-radius: 0 0 2px 2px;

			flex-direction: column;
			padding: 24px;
			box-sizing: border-box;

			@include media-query($medium) {
				width: 500%;
			}
			@include media-query($small) {
				width: 400%;
			}

			@include media-query($mobile) {
				position: fixed;
				top: 0;
				left: 0;
				overflow: scroll;
				width: 100%;
				height: 100%;
			}
		}

		&-header {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			width: 100%;

			@include media-query($mobile) {
				flex-direction: column-reverse;
			}

			.col-6-8 {
				width: 80%;
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;

				@include media-query($mobile) {
					width: 100%;
				}
			}
			.col-2-8 {
				width: 20%;
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;

				@include media-query($mobile) {
					width: 100%;
				}
			}
		}

		&-content {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;

			.col-4-8 {
				width: calc(50% - 12px);
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;

				@include media-query($mobile) {
					width: 100%;
				}
			}
		}

		&-country {
			
			&:before {
				display: block;
				content: '';
				width: 24px;
				height: 1px;
				margin: 12px 0;
				background: $yellow;
			}
		}

		&-type {
			display: inline-block;
			font-family: 'latoblack', sans-serif;
			font-size: 11px;
			font-weight: normal;
			letter-spacing: 2px;
			line-height: 1;
			text-transform: uppercase;
			color: rgba($white, .5);
			border: 2px solid rgba($white, .2);
			padding: 6px 12px;
			border-radius: 20px;
			box-sizing: border-box;

			&:nth-child(2) {
				margin-left: 12px;
			}

			&-group {
				display: flex;
				flex-direction: row;
				justify-content: flex-end;

				@include media-query($mobile) {
					justify-content: flex-start;
					margin-bottom: 24px;
				}
			}
		}
	}
}

// SPEAKER GROUP //
.speaker-group {

}




// Archive Filter //

.archive-filter {


	&-list {
		display: flex;
		list-style: none;
		margin-top: 12px;

		li {
			display: block;
			border-radius: 18px;
			padding: 6px 12px;
			box-sizing: border-box;
			border: 2px solid rgba($white, .2);

			font-family: 'latoblack', sans-serif;
			font-weight: normal;
			font-size: 11px;
			line-height: 20px;
			letter-spacing: 2px;
			text-transform: uppercase;
			color: $gray;
			
			margin-right: 24px;

			@include transition-ease;

			&:last-of-type {
				margin-right: 0;
			}

			&:hover {
				color: $yellow;
				border-color: $yellow;
				cursor: pointer;
			}
		}
	}
}


// AGENDA
.agenda {
	display: flex;
	flex-direction: column;
	margin-top: 38px;

	@include media-query($mobile) {
		width: calc(100% + 24px);
		margin-left: -12px;
		margin-top: 0;
	}

	&-day {
		display: none;

		&-active {
			display: block;
		}
	}
}


// AGENDA HEADER
.agenda-header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;

	&-item {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		flex-direction: column;
		width: 25%;
		padding: 12px 24px;
		box-sizing: border-box;
		border-top: 1px solid $blue-darken;
		border-bottom: 1px solid $blue-darken;

		background: $blue-darken;

		@include transition-ease;

		@include media-query($mobile) {
			padding: 10px;

			.heading {
				display: none;
			}
			h3 > span {
				display: none;
			}
			.subtitle {
				font-size: 18px;
			}
			.alt-title {
				font-size: 12px;
			}
		}

		&:first-of-type {
			border-left: 1px solid $blue-darken;
			border-right: 1px solid $dark;
			border-radius: 4px 0 0 0;

			@include media-query($mobile) {
				border-radius: 0;
			}
		}
		&:nth-child(2) {
			border-right: 1px solid $dark;
		}
		&:last-of-type {
			border-left: 1px solid $dark;
			border-right: 1px solid $blue-darken;
			border-radius: 0 4px 0 0;

			@include media-query($mobile) {
				border-radius: 0;
			}
		}

		&:hover {
			background: rgba($yellow, 1);
			cursor: pointer;

			.heading, .alt-title {
				color: $white;
			}
			.subtitle {
				color: $blue-darken;
			}
		}
	

		&-active {
			background: rgba($yellow, 1);

			.heading, .alt-title {
				color: $white;
			}
			.subtitle {
				color: $blue-darken;
			}
		}
	}

	.alt-title {
		text-transform: uppercase;
		letter-spacing: 2px;

		@include transition-ease;
	}
	.heading, .subtitle {
		@include transition-ease;
	}
}


// AGENDA CONTENT
.agenda-content {
	display: flex;
	align-items: stretch;
	flex-direction: row;
	border-bottom: 1px solid $blue-darken;
	border-left: 1px solid $blue-darken;
	border-right: 1px solid $blue-darken;

	@include media-query($mobile) {
		flex-direction: column;
	}


	&-header {
		display: flex;
		width: 100%;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
		border-bottom: 1px solid $blue-darken;
		border-left: 1px solid $blue-darken;
		border-right: 1px solid $blue-darken;
		box-sizing: border-box;

		&-item {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			width: 33.333333%;
			padding: 12px 20px;
			box-sizing: border-box;

			&:nth-child(2) {
				border-left: 1px solid $blue-darken;
				border-right: 1px solid $blue-darken;
			}

			@include media-query($mobile) {
				.alt-title {
					font-size: 16px;
				}
			}

			&-active {

				@include media-query($mobile) {
					background: rgba($blue-darken, .75);
				}
			}
		}

		&-hidden-spacer {
		  display: none;
		  height: 63px;
		  width: 100%;
		  background: transparent;

		  &.show-spacer {
		    display: block;
		  }
		}

		&.sticky-block {
			position: fixed;
			top: 0;
			z-index: 999;
			box-shadow: 0 0 14px rgba($dark, .3);
			background: $dark;
			max-width: 1440px;

			@include media-query($medium) {
				max-width: 1200px;
			}
			@include media-query($small) {
				max-width: 92%;
			}
		}
	}

	&-column {
		display: flex;
		flex-direction: column;
		width: 33.333333%;
		box-sizing: border-box;
		padding-bottom: 12px;

		&:nth-child(2) {
			border-left: 1px solid $blue-darken;
			border-right: 1px solid $blue-darken;

			@include media-query($mobile) {
				border: none;
			}
		}

		@include media-query($mobile) {
			width: 100%;
			display: none;

			&-active {
				display: flex;
			}
		}
	}
}


// AGENDA ITEM
.agenda-item {
	display: block;
	margin: 0 20px;
	padding: 20px 0;
	box-sizing: border-box;
	border-top: 1px solid $blue-darken;

	@include transition-ease;

	&:first-of-type {
		border-top: none;
	}

	&-break {

		.agenda-item-headline {
			color: $blue;
		}
	}

	&-common {

	}

	&-link {
		position: relative;
		
		> a {
			text-decoration: none;
		}

		&:before {
			display: block;
			content: '';
			width: 1px;
			height: 100%;
			position: absolute;
			top: 0;
			left: -21px;
			background: rgba($yellow, .5);
			opacity: 0;

			@include transition-ease;
		}

		&:hover {
			cursor: pointer;

			&:before {
				opacity: 1;
			}

			.agenda-item-headline {
				color: $yellow;
			}
			.agenda-item-time {
				color: $white;
			}
		}
	}

	&-time {
		color: $gray;
		font-family: 'latoregular', sans-serif;
		font-weight: normal;
		font-size: 14px;
		line-height: 38px;
		letter-spacing: 2px;
		text-transform: uppercase;

		@include transition-ease;

		@include media-query($mobile){
			line-height: 21px;
		}
	}
	&-label {
		float: right;
		color: $gray;
	}
	&-headline {
		color: $white;
		font-family: 'latobold', sans-serif;
		font-weight: normal;
		font-size: 21px;
		line-height: 36px;

		@include transition-ease;

		@include media-query($mobile){
			font-size: 18px;
			line-height: 32px;
		}
	}
	&-author {
		color: $yellow;
		font-family: 'latoregular', sans-serif;
		font-weight: normal;
		font-size: 16px;
		line-height: 27px;

		@include media-query($mobile){
			
		}

		span {

			&:after {
				display: inline-block;
				content: ',';
				margin-right: 4px;
			}

			&:last-of-type {
				margin-left: 0;

				&:before {
					display: inline-block;
					content: '&';
					margin-right: 4px;
				}
				&:after {
					display: none;
				}
			}

			&:nth-child(2){
				margin-left: 0px;

				&:before {
					display: inline-block;
					content: ',';
					margin-right: 4px;
				}
			}

			&:first-of-type {
				margin-right: 0;

				&:before {
					display: none;
				}
				&:after {
					display: none;
				}
			}
		}
	}

	&-special {
		color: $yellow;
		margin-left: 5px;
	}


}


.update-group {
	display: none;
	flex-direction: column;
	flex-wrap: wrap;

	position: absolute;
	top: 0;
	right: 0;
	z-index: 99;

	background: $blue-dark;
	padding: 24px;
	box-sizing: border-box;
	border-radius: 4px;

	&-shown {
		display: flex;
	}

	.alt-title {
		margin-bottom: 12px;
	}

	.update-close {
		text-align: center;
		padding: 12px 0;
	}

	li span {
		display: block;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 1px;
		color: $light-gray;
	}
}


