/**
	AGENDA LIST */

.agenda--block {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-top: 36px;

	@include media-query($mobile) {
		margin-top: 0;
		width: 100vw;
		margin-left: -12px;
	}
}

.agenda--header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;

	@include media-query($mobile) {
		position: relative;
		height: 83px;
	}

	&-item {
		display: block;
		width: 33.3333%;
		padding: 12px 20px;
		box-sizing: border-box;
		background: $blue-darken;

		&:hover {
			cursor: pointer;
			background: rgba($blue-dark, .75);
		}

		&:first-of-type {
			border-radius: 2px 0 0 0;
		}
		&:last-of-type {
			border-radius: 0 2px 0 0;
		}

		@include media-query($mobile) {
			width: 33.3333%;
			text-align: center;

			&:first-of-type, &:last-of-type {
				border-radius: 0;
			}
		}

		&.active-item {
			background: rgba($blue-dark, .75);

			h3 {
				display: block;
				color: $white;

				@include media-query($mobile) {
					color: $yellow;

					.day-name {
						display: inline-block;
					}
				}
			}

			span {
				color: $yellow;
			}
		}

		span, h3 {
			font-family: 'latoblack', sans-serif;
			font-weight: normal;
			text-transform: uppercase;
		}

		span {
			display: block;
			font-size: 10px;
			letter-spacing: 2px;
			color: rgba($white, .8);
		}

		h3 {
			font-size: 18px;
			letter-spacing: 1px;
			line-height: 1.4;
			color: $gray;

			.day-name {
				display: none;
				font-size: 12px;
				letter-spacing: 2px;
				line-height: 1;
				color: $gray;
				margin-right: 3px;
			}

			@include media-query($mobile) {
				display: none;

				position: absolute;
				left: 0;
				top: 39px;
				width: 100%;
				background: rgba($blue-dark, .75);
				padding: 14px 20px;
				box-sizing: border-box;
				font-size: 12px;
				letter-spacing: 2px;
				text-align: left;
			}
		}
	}
}

.agenda--content {
	align-items: flex-start;
	justify-content: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
	display: none;

	&-open {
		display: flex;

		@include media-query($mobile) {
			width: 100%;
		}
	}

	
	&-main, &-forum {
		display: block;
		padding-top: 20px;
		box-sizing: border-box;

		@include media-query($mobile) {
			display: none;
		}

		&.agenda--content-open {
			
			@include media-query($mobile) {
				display: block;
			}
		}

		@include media-query($mobile) {
			width: 100%;
		}
	}

	&-forum {
		margin-left: 20px;

		@include media-query($mobile) {
			margin-left: 0;
		}
	}
}

.agenda--btn-group {
	display: flex;
	align-items: flex-start;
	width: 100%;

	.btn-agenda {
		width: 50%;
		color: $yellow;
		border-radius: 0 0 0 2px;
		margin: 0;
		font-size: 12px;
		box-shadow: none;
		text-shadow: none;
		text-align: left;
		padding: 10px 20px;
		background: rgba($blue-dark, .75);

		&:nth-child(2) {
			border-radius: 0 0 2px 0;
		}

		@include media-query($mobile) {
			font-size: 10px;
			opacity: .5;
			width: 100%;
			
			span {
				display: none;
			}

			&-active {
				opacity: 1;
			}
		}
	}
}

.agenda--list {

	display: block;
	width: 550px;
	list-style: none;

	@include media-query-min($large) {
		width: 650px;
	}
	@include media-query($mobile) {
		width: 100%;
	}

	li {
		display: block;
		padding: 12px 0;
		box-sizing: border-box;
		border-bottom: 1px solid $blue-darken;

		@include media-query($mobile) {
			padding: 20px;
		}


		&.list-link {
			padding: 0;
		}

		a {
			display: block;
			padding: 14px 0;
			box-sizing: border-box;
			text-decoration: none;
			position: relative;

			@include transition-ease;

			&:hover {
				background: $blue-darken;

				&:before {
					opacity: 1;
				}

				.agenda--list-details {
					right: 20px;
				}
			}

			&:before {
				display: block;
				content: '';
				background: $blue-darken;
				width: 20px;
				height: calc(100% + 2px);
				position: absolute;
				top: -1px;
				left: -20px;
				opacity: 0;

				@include transition-ease;
			}

			@include media-query($mobile) {
				padding: 14px 20px;
			}
		}

		span {
			display: block;
		}
	}

	&-time, &-role, &-speaker {
		font-family: 'latoregular', sans-serif;
		font-size: 16px;
		font-weight: normal;
		letter-spacing: 1px;
	}

	&-headline {
		font-family: 'latoblack', sans-serif;
		font-size: 16px;
		font-weight: normal;
		letter-spacing: 1px;
		color: $white;
		width: 90%;

		&.headline-break {
			color: $blue;
		}
	}

	&-role {
		color: $gray;
	}

	&-speaker {
		color: $yellow;
	}

	&-time {
		color: $gray;
	}
	&-place {
		color: $gray;
		font-family: 'latoblack', sans-serif;
		margin-left: 20px;
	}
	&-details {
		position: absolute;
		top: 14px;
		right: 0;
		letter-spacing: 1px;
		font-family: 'latoregular', sans-serif;
		font-size: 16px;
		color: $gray;

		@include transition-ease;

		@include media-query($mobile) {
			right: 20px;
			top: 14px;
			bottom: 0;
		}
	}

	&-speaker-row {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
	}

	&-speaker-row-left {
		display: flex;
		flex-direction: row;
	}

	&-speaker-block {

	}

}