---
title: Expo
permalink: "/expo/"
layout: default
image: /assets/photos/cs3sthlm-expo.jpg
---

<section class="content col-8-8">

  {% include breadcrumbs.html %}

  <div class="content-header">
    <div class="col-4-8">
      <h4 class="sub-headline">22nd of October</h4>
      <h2 class="title title-yellow">CS3STHLM Expo</h2>
    </div>
    <div class="col-4-8">
      <div class="button-group button-group-long">
        <a href="https://cs3-expo-day-2019.eventbrite.com/" target="_blank" class="button button-green">Expo Registration - Free</a>
      </div>
    </div>
  </div>

  <div class="column-block">

    <div class="column-block-item col-4-8 column-block-bit">
      <p class="content-intro">At the CS3STHLM Expo 2019, an ICS Cyber Security Expo in Stockholm, you will get an overview of threats and different protection that's available on the market. Here you will meet both researchers, vendors and experts who share their experiences of best practice and trends in IT security for critical parts of society.</p>

      <p>CS3STHLM Expo enables companies and organisations to network, demonstrate valuable experiences products and services, via workshops and presentations. The Expo offer a place for valuable discussions and to experience success-stories from around the globe. Moreover it's an excellent opportunity for networking among peers in the industry, meet security experts as well as representatives from governmental agencies and organisations.</p>
    </div>

    <div class="column-block-item col-4-8 column-block-bit">
      
      <div class="column-block column-block-bit expo-group">

        <div class="column-block-item col-2-8">
          <div class="card-item card-item-filled">
            <h3 class="sub-headline sub-headline-yellow">When</h3>
            <ul class="clean-list">
              <li class="heading">Tuesday, October 22, 2019</li>
              <li>10:00 AM – 10:00 PM CEST</li>
            </ul>
          </div>
        </div>

        <div class="column-block-item col-2-8">
          <div class="card-item card-item-filled">
            <h3 class="sub-headline sub-headline-yellow">Where</h3>
            <ul class="clean-list">
              <li class="heading">Nalen, Stockholm</li>
              <li>Regeringsgatan 74</li>
            </ul>
          </div>
        </div>

      </div>

      <div class="column-block expo-group">

        <div class="column-block-item col-2-8">
          <div class="column-block-bit">
            <h3 class="sub-headline sub-headline-yellow">Please note</h3>
            <p>That the CS3STHLM EXPO day (22/10) is free of charge but the entrance require registration</p>
          </div>
        </div>

        <div class="column-block-item col-2-8">
          <div class="column-block-bit col-2-8">
            <h3 class="sub-headline sub-headline-yellow">Important!</h3>
            <p>This registration is <b>NOT</b> valid for entrance at the CS3STHLM SUMMIT on 23-24/10.</p>
          </div>
        </div>

      </div>

    </div>

    <div class="column-block-item col-4-8 col-left-space">

      <h3 class="headline">Faq</h3>

      <ul class="faq-list">
        <li class="faq-list-heading">Are there minimum age requirements to enter the event?</li>
        <li class="faq-list-item">Yes, minimum age is 18.</li>
      </ul>

      <ul class="faq-list">
        <li class="faq-list-heading">What are my transportation/parking options for getting to and from the event?</li>
        <li class="faq-list-item">The event is at Nalen, Regeringsgatan 74, in central Stockholm. Parking is very limited in the area. Use public transportation.</li>
      </ul>

      <ul class="faq-list">
        <li class="faq-list-heading">How can I contact the organizer with any questions?</li>
        <li class="faq-list-item">If you have any questions, contact us at: info@cs3sthlm.se</li>
      </ul>
  
    </div>
  
  </div>

</section>

<!--
<section class="content">

  <div class="speaker--block">
    <div class="speaker--block-header">
      <h3 class="headline">Speakers of 2019</h3>
    </div>

  <div class="speaker speaker-group col-8-8">

  {% assign sorted_speakers = site.data.speakers | sort:'name' %}
  {% for speaker in sorted_speakers %}
  {% if speaker.type == "expotalk" %}
    <div class="speaker-item">

      <div class="speaker-item-frame">
        <img src="{{ site.baseurl }}/assets/speakers/{{ speaker.image }}" class="speaker-item-frame-image">

        <div class="speaker-item-frame-data">

          {% if speaker.type == "presentation" %}
                <h4 class="speaker-item-frame-type">P<span>resentation</span></h4>
                {% endif %}

                {% if speaker.type == "training" %}
                <h4 class="speaker-item-frame-type">T<span>raining</span></h4>
                {% endif %}

                {% if speaker.type == "expotalk" %}
                <h4 class="speaker-item-frame-type">E<span>xpo Presentation</span></h4>
                {% endif %}

                {% if speaker.type == "moderator" %}
                <h4 class="speaker-item-frame-type">M<span>oderator</span></h4>
                {% endif %}
          
          <h2 class="speaker-name">{{ speaker.name }}</h2>
          <h4 class="speaker-role">{{ speaker.role | truncate: 25 }} at {{ speaker.work | truncate: 30 }}</h4>
        </div>
      </div>

      <div class="speaker-item-details">

        <div class="speaker-item-header column-block-bit">

          <div class="col-6-8">
            <h2 class="heading">{{ speaker.name }}</h2>
            <h3 class="speaker-role">{{ speaker.role }} at {{ speaker.work }}</h3>
            <h5 class="speaker-role speaker-item-country">{{ speaker.country }}</h5>
          </div>

          <div class="col-2-8">
            <div class="speaker-item-type-group">
              {% if speaker.type == 'moderator' %}
              <span class="speaker-item-type">{{ speaker.type }}</span>
              {% endif %}

              {% if speaker.type == 'presentation' %}
              <span class="speaker-item-type">Presentation</span>
              {% endif %}

              {% if speaker.type == 'expotalk' %}
              <span class="speaker-item-type">Expo Presentation</span>
              {% endif %}

              {% if speaker.type == 'training' %}
              <span class="speaker-item-type">Training</span>
              {% endif %}
            </div>
          </div>

        </div>

        <div class="speaker-item-content">

          {% if speaker.bio != null %}
          <div class="col-8-8 column-block-bit">

            <h4 class="sub-headline sub-headline-yellow">Biography</h4>
            <p class="duo-columns">{{ speaker.bio }}</p>

          </div>
          {% endif %}

          {% if speaker.type == "special" %}
          <div class="col-4-8">
            <h4 class="sub-headline sub-headline-yellow">Dinner Presentation</h4>
            <span class="speaker-permalink">{{ speaker.specialtitle }}</span>

            <p>Image taken by <a href="{{ speaker.photourl }}">Kate Gabor</a></p>
          </div>          
          {% endif %}

          {% for item in speaker.presentation %}
          {% if item.active == "live" %}
          <div class="col-4-8">
            <h4 class="sub-headline sub-headline-yellow">Presentation</h4>
            <a href="{{ site.baseurl }}/{{ item.permalink }}" class="speaker-item-link">{{ item.subject }}</a>
            {% if item.partner != null %}
            <span class="sub-headline sub-headline-small sub-headline-light">with {{ item.name }}</span>
            {% endif %}
          </div>          
          {% endif %}
          {% endfor %}

          {% for item in speaker.presentation-second %}
          {% if item.active == "live" %}
          <div class="col-4-8">
            <a href="{{ site.baseurl }}/{{ item.permalink }}" class="speaker-item-link">{{ item.subject }}</a>
            {% if item.partner != null %}
            <span class="sub-headline sub-headline-small sub-headline-light">with {{ item.name }}</span>
            {% endif %}
          </div>          
          {% endif %}
          {% endfor %}


          {% for item in speaker.training %}
          {% if item.active == "live" %}
          <div class="col-4-8">
            <h4 class="sub-headline sub-headline-yellow">Training</h4>
            <a href="{{ site.baseurl }}/{{ item.permalink }}" class="speaker-item-link">{{ item.subject }}</a>
            {% if item.partner != null %}
            <span class="sub-headline sub-headline-small sub-headline-light">with {{ item.name }}</span>
            {% endif %}
          </div>        
          {% endif %}
          {% endfor %}

        </div>

        <a href="#!" class="modal-close">Close<span></span></a>

      </div>

    </div>

  {% endif %}
  {% endfor %}
  </div>

</section>

<section class="content">

  <div class="content-header">
    <div class="col-4-8">
      <h4 class="sub-headline">Who's There</h4>
      <h2 class="title title-yellow">Expo Partners</h2>
    </div>
  </div>

    <div class="col-8-8">
      <div class="partner--list partner--list-single-group">
    {% assign sortedpartners = site.data.partners | sort:"e-order" %}
    {% for partner in sortedpartners %}
    {% if partner.expo == "yes" %}
    {% if partner.e-type == "large" %}
      <div class="partner--item col-1-3 partner--item-large">
        <a href="{{ partner.url }}" target="_blank">
          <img src="{{ site.baseurl }}/assets/partners/{{ partner.logo }}" alt="{{ partner.company }}">
        </a>
      </div>
    {% endif %}
    {% if partner.e-type == "small" %}
      <div class="partner--item col-1-3">
        <a href="{{ partner.url }}" target="_blank">
          <img src="{{ site.baseurl }}/assets/partners/{{ partner.logo }}" alt="{{ partner.company }}">
        </a>
      </div>
    {% endif %}
    {% endif %}
    {% endfor %}    
      </div>

    </div>

</section>
-->