---
title: Expo
permalink: "/expo/"
layout: default
---

<section class="content col-8-8">

  {% include breadcrumbs.html %}

  <div class="content-header">
    <div class="col-4-8">
      <h4 class="sub-headline">22nd of October</h4>
      <h2 class="title title-yellow">CS3STHLM Expo</h2>
    </div>
    <div class="col-4-8">
      <div class="button-group">
        <a href="https://cs3sthlmexpo.eventbrite.com/?aff=cs3sthlm" target="_blank" class="button button-yellow">Free - Expo Registration</a>
      </div>
    </div>
  </div>

  <div class="column-block">

    <div class="column-block-item col-4-8 column-block-bit">
      <p class="content-intro">At the CS3STHLM Expo 2018, an ICS Cyber Security Expo in Stockholm, you will get an overview of threats and different protection that's available on the market. Here you will meet both researchers, vendors and experts who share their experiences of best practice and trends in IT security for critical parts of society.</p>

      <p>CS3STHLM Expo enables companies and organisations to network, demonstrate valuable experiences products and services, via workshops and presentations. The Expo offer a place for valuable discussions and to experience success-stories from around the globe. Moreover it's an excellent opportunity for networking among peers in the industry, meet security experts as well as representatives from governmental agencies and organisations.</p>
    </div>

    <div class="column-block-item col-4-8 column-block-bit">
      
      <div class="column-block column-block-bit">

        <div class="column-block-item col-2-8">
          <div class="card-item card-item-filled">
            <h3 class="sub-headline sub-headline-yellow">When</h3>
            <ul class="clean-list">
              <li class="heading">Tuesday, October 22, 2019</li>
              <li>13:00 PM – 10:00 PM CEST</li>
            </ul>
          </div>
        </div>

        <div class="column-block-item col-2-8">
          <div class="card-item card-item-filled">
            <h3 class="sub-headline sub-headline-yellow">Where</h3>
            <ul class="clean-list">
              <li class="heading">Nalen, Stockholm</li>
              <li>Regeringsgatan 74</li>
            </ul>
          </div>
        </div>

      </div>

      <div class="column-block">

        <div class="column-block-item col-2-8">
          <div class="column-block-bit">
            <h3 class="sub-headline sub-headline-yellow">Please note</h3>
            <p>That the CS3sthlm EXPO day (23/10) is complementary (free of charge) but entrance require registration</p>
          </div>
        </div>

        <div class="column-block-item col-2-8">
          <div class="column-block-bit col-2-8">
            <h3 class="sub-headline sub-headline-yellow">Important!</h3>
            <p>This registration is <b>NOT</b> valid for entrance at the CS3sthlm SUMMIT on 24-25/10.</p>
          </div>
        </div>

      </div>

    </div>

    <div class="column-block-item col-4-8 col-left-space">

      <h3 class="headline">Faq</h3>

      <ul class="faq-list">
        <li class="faq-list-heading">Are there minimum age requirements to enter the event?</li>
        <li class="faq-list-item">Yes, minimum age is 18.</li>
      </ul>

      <ul class="faq-list">
        <li class="faq-list-heading">What are my transportation/parking options for getting to and from the event?</li>
        <li class="faq-list-item">The event is at Nalen, Regeringsgatan 74, in central Stockholm. Parking is very limited in the area. Use public transportation.</li>
      </ul>

      <ul class="faq-list">
        <li class="faq-list-heading">How can I contact the organizer with any questions?</li>
        <li class="faq-list-item">If you have any questions, contact us at: info@cs3sthlm.se</li>
      </ul>
  
    </div>
  
  </div>

</section>

<section class="content col-8-8">
  <div class="speaker--block">
    <div class="speaker--block-header">
      <h3 class="headline">Speakers of 2019</h3>
    </div>

    <div class="speaker--list-group speaker--list-home">
      {% assign sorted_speakers = site.data.expo %}
      {% for speaker in sorted_speakers %}
      <div class="speaker--list-item">
        <div class="speaker-block">
          <img src="{{ site.baseurl }}/assets/speakers/{{ speaker.image }}">
          <div class="speaker-block-data">
            <!--{% if speaker.type == "moderator" %}
            <h4>{{ speaker.type }}<span>{{ speaker.shortcode }}</span></h4>
            {% endif %}

            {% if speaker.type == "presentation" %}
            <h4>{{ speaker.type }}<span>{{ speaker.shortcode }}</span></h4>
            {% endif %}

            {% if speaker.type == "expotalk" %}
            <h4>Expo Presentation<span>{{ speaker.shortcode }}</span></h4>
            {% endif %}

            {% if speaker.type == "training" %}
            <h4>{{ speaker.type }}<span>{{ speaker.shortcode }}</span></h4>
            {% endif %}

            {% if speaker.type == "special" %}
            <h4>Dinner Presentation<span>{{ speaker.shortcode }}</span></h4>
            {% endif %}-->

            <h2>{{ speaker.name }}</h2>
            <h5>{{ speaker.role }}</h5>
          </div>
        </div>
        <div class="speaker-block-details">
          <div class="speaker-block--header">
            {% if speaker.type == 'moderator' %}
            <h4>{{ speaker.type }}</h4>
            {% endif %}
            <h4>{% for item in speaker.presentation %}{% if item.active == "live" %}<span>Presentation</span>{% endif %}{% endfor %}{% for item in speaker.training %}{% if item.active == "live" %}<span>Training</span>{% endif %}{% endfor %}</h4>
            <h2>{{ speaker.name }}</h2>
            <h3>{{ speaker.role }}</h3>
          </div>
          <div class="speaker-block--content">
            <div class="col-1-6">
              <ul>
                <li>{{ speaker.work }}</li>
                <li>{{ speaker.country }}</li>
              </ul>
            </div>

            <div class="col-3-6">
              <h4 class="headline">Biography</h4>
              <p>{{ speaker.bio }}</p>
            </div>

            <div class="col-2-6">
            {% if speaker.type == "special" %}
              <div class="col-block">
                <h4 class="headline">Dinner Presentation</h4>
                <span class="speaker-permalink">{{ speaker.specialtitle }}</span>
              </div>
              <div class="col-block">
                <p>Image taken by <a href="{{ speaker.photourl }}">Kate Gabor</a></p>
              </div>          
            {% endif %}

            {% for item in speaker.presentation %}
            {% if item.active == "live" %}
              <div class="col-block">
                <h4 class="headline">Presentation</h4>
                <a href="{{ site.baseurl }}/{{ item.permalink }}" class="speaker-permalink">{{ item.subject }}</a>
                {% if item.partner != null %}
                <span class="speaker-cospeaker">with {{ item.name }}</span>
                {% endif %}
              </div>          
            {% endif %}
            {% endfor %}

            {% for item in speaker.presentation-second %}
            {% if item.active == "live" %}
              <div class="col-block">
                <a href="{{ site.baseurl }}/{{ item.permalink }}" class="speaker-permalink">{{ item.subject }}</a>
                {% if item.partner != null %}
                <span class="speaker-cospeaker">with {{ item.name }}</span>
                {% endif %}
              </div>          
            {% endif %}
            {% endfor %}

            {% for item in speaker.training %}
            {% if item.active == "live" %}
              <div class="col-block">
                <h4 class="headline">Training</h4>
                <a href="{{ site.baseurl }}/{{ item.permalink }}" class="speaker-permalink">{{ item.subject }}</a>
                <div class="speaker-meta">
                  <span class="speaker-date">{{ speaker.date }}</span>
                  <span class="speaker-time">{{ speaker.time }}</span>
                </div>
                {% if item.partner != null %}
                <span class="speaker-cospeaker">with {{ item.name }}</span>
                {% endif %}
              </div>        
            {% endif %}
            {% endfor %}
            </div>

          </div>
          <a href="#!" class="modal-close">Close<span></span></a>
        </div>
      </div>
      {% endfor %}
      <div class="speaker--list-item speaker--list-item-special">
        <div class="speaker-block">
          <div class="speaker-block-data">
            <a href="{{ site.baseurl }}/program/speakers/" class="special">View More Speakers</a>
          </div>
        </div>
      </div>

    </div>
  </div> <!-- end of speaker block -->

</section>

<section class="content">

  <div class="content-header">
    <div class="col-4-8">
      <h4 class="sub-headline">Who's There</h4>
      <h2 class="title title-yellow">Expo Partners</h2>
    </div>
  </div>

    <div class="col-1">
      <div class="partner--list partner--list-single-group">
    {% assign sortedpartners = site.data.partners | sort:"e-order" %}
    {% for partner in sortedpartners %}
    {% if partner.expo == "yes" %}
    {% if partner.e-type == "large" %}
      <div class="partner--item partner--item-large">
        <a href="{{ partner.url }}" target="_blank">
          <img src="{{ site.baseurl }}/assets/partners/{{ partner.logo }}" alt="{{ partner.company }}">
        </a>
      </div>
    {% endif %}
    {% if partner.e-type == "small" %}
      <div class="partner--item">
        <a href="{{ partner.url }}" target="_blank">
          <img src="{{ site.baseurl }}/assets/partners/{{ partner.logo }}" alt="{{ partner.company }}">
        </a>
      </div>
    {% endif %}
    {% endif %}
    {% endfor %}    
      </div>

    </div>

</section>