---
title: News
permalink: "/news/"
layout: default
---

<section class="content">

    {% include breadcrumbs.html %}

    <div class="content-header">
        <div class="col-4-8">
            <h4 class="sub-headline">News & Press</h4>
            <h2 class="title title-yellow">The Newsroom</h2>
        </div>
    </div>

</section>

<section class="content">

    <div class="workshop--list-group">
        <h3 class="headline">2019 CS3STHLM</h3>
    {% for post in site.posts %}
    {% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
    {% if year == "2019" %}
        <div class="workshop--list-item">
            <a href="{{ post.url | prepend: site.baseurl }}" class="workshop--list-link">
                <div class="workshop--meta">
                    <span class="workshop--meta-date">{{ post.date | date: "%d %b %-Y" }}</span>
                    <span class="workshop--meta-category category-{{ post.categories | join: ' ' }}">{{ post.categories | join: ' ' }}</span>
                </div>
                <h2 class="workshop--list-title">{{ post.title }}</h2>
            </a>
        </div>
    {% endif %}
    {% endfor %}
    </div>


    <div class="workshop--list-group">
        <h3 class="headline">2018 CS3STHLM</h3>
    {% for post in site.posts %}
    {% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
    {% if year == "2018" %}
        <div class="workshop--list-item">
            <a href="{{ post.url | prepend: site.baseurl }}" class="workshop--list-link">
                <div class="workshop--meta">
                    <span class="workshop--meta-date">{{ post.date | date: "%d %b %-Y" }}</span>
                    <span class="workshop--meta-category category-{{ post.categories | join: ' ' }}">{{ post.categories | join: ' ' }}</span>
                </div>
                <h2 class="workshop--list-title">{{ post.title }}</h2>
            </a>
        </div>
    {% endif %}
    {% endfor %}
    </div>

    <div class="workshop--list-group">
        <h3 class="headline">2017 CS3STHLM</h3>
    {% for post in site.posts %}
    {% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
    {% if year == "2017" %}
        <div class="workshop--list-item">
            <a href="{{ post.url | prepend: site.baseurl }}" class="workshop--list-link">
                <div class="workshop--meta">
                    <span class="workshop--meta-date">{{ post.date | date: "%d %b %-Y" }}</span>
                    <span class="workshop--meta-category category-{{ post.categories | join: ' ' }}">{{ post.categories | join: ' ' }}</span>
                </div>
                <h2 class="workshop--list-title">{{ post.title }}</h2>
            </a>
        </div>
    {% endif %}
    {% endfor %}
    </div>

</section>