---
title: Trainings
permalink: "/program/trainings/"
layout: default
---

<section class="content">

  {% include breadcrumbs.html %}

  <div class="content-header">

    <div class="col-4-8">
      <h4 class="sub-headline">Trainings & Tutorials</h4>
      <h2 class="title title-yellow">World Class Content</h2>
    </div>

    <div class="col-4-8">
      <div class="button-group">
        <a href="{{ site.baseurl }}/program/speakers/" class="button button-primary"><span>View</span> Speakers</a>
        <a href="{{ site.baseurl }}/program/presentations/" class="button button-primary"><span>View</span> Presentations</a>
      </div>
    </div>

    <div class="col-4-8">
      <p>Between 21st and 22nd of October, the days before the summit, we will provide different full-day tutorials and training with world-renowned experts. We have tutorials in a number of different areas such as forensics in computers and in networks, introduction to cybersecurity standards, and information gathering. The tutorials ranging from theoretical overviews via hands-on practical to highly technical classes.</p>

      <p>Tutorials are availabe by choosing "combo tickets" for CS3STHLM, in which training is included. When register for CS3STHLM you can select which training you are interested in participating.</p>
    </div>

    <div class="col-4-8">
      <h3 class="headline">Please Note</h3>

      <p>Due to the high level of interaction with trainers and complexity of the lab environment, most training classes have limited numbers of seats (15-20 seats). Each training class will be available on first come, first serve basis. We know that some training classes will be in high demand, so if you really want to get some specific training slot, be sure to reserve your seat as early as possible!</p>
    </div>

  </div>

</section>

<section class="content">

  <h3 class="headline spacing-bottom">Trainings</h3>

  <div class="column-block col-8-8 training-cards">

    {% assign training = site.pages | where_exp:"item", "item.layout contains 'training'" | sort:'title' %}
    {% for item in training %}
    <a href="{{ site.baseurl }}{{ item.permalink }}" class="card-item card-item-filled spacing-bottom card-item-linked col-4-8">
      <div class="card-item-details-row">
        {% if item.date contains "-" %} 
        <h4 class="sub-headline">Two Days - {{ item.date }}</h4>
        {% else %}
        <h4 class="sub-headline">One Day - {{ item.date }}</h4>
        {% endif %}

        {% if item.status contains "Slots Open" %}
        <h4 class="sub-headline sub-headline-yellow">{{ item.status }}</h4>
        {% endif %}

        {% if item.status contains "Cancelled" %}
        <h4 class="sub-headline sub-headline-gray">{{ item.status }}</h4>
        {% endif %}

        {% if item.status contains "Sold Out" %}
        <h4 class="sub-headline sub-headline-red">{{ item.status }}</h4>
        {% endif %}

      </div>
      <div class="card-item-details">
        <h2 class="speaker-title">{{ item.title }}</h2>
        <h3 class="speaker-name">
        {% for item in item.speaker %}
          <span>{{ item.name }}</span>
        {% endfor %}
        </h3>

        <p>{{ item.content | strip_html | truncatewords: 22 }}</p>
      </div>
    </a>
    {% endfor %}

    <!-- temp more to come -->
    <a href="#!" class="card-item card-item-filled spacing-bottom col-4-8 card-item-center">
      <div class="card-item-details">
        <h2 class="speaker-title more-to-come">More to be announced</h2>
      </div>
    </a>

  </div>
</section>