---
title: Expo Presentations
permalink: "/expo/presentations/"
layout: default
---

<section class="content">

  {% include breadcrumbs.html %}

  <div class="content-header">
    <div class="col-4-8">
      <h4 class="sub-headline">Presentations</h4>
      <h2 class="title title-yellow">World Class</h2>
    </div>

    <div class="col-4-8">
      <div class="button-group">
        <a href="{{ site.baseurl }}/program/speakers/" class="button button-primary"><span>View</span> Speakers</a>
        <a href="{{ site.baseurl }}/program/trainings/" class="button button-primary"><span>View</span> Trainings</a>
      </div>
    </div>
  </div>

  <div class="presentation--list">
      <ul>
      {% assign sorted_presentations = site.pages | sort: 'title' %}
      {% for page in sorted_presentations %}
      {% if page.id == "expotalk" %}
        <li><a href="{{ page.url | prepend: site.baseurl }}">
            {% for item in page.speaker %}
            <img src="{{ site.baseurl }}/assets/speakers/{{ item.image }}.png">
            {% endfor %}
            <div class="presentation--list-meta">
              <h3 class="heading">{{ page.title }}</h3>
              <h4 class="alt-title alt-title-small alt-title-light">
              {% for item in page.speaker %}
                <span>{{ item.name }}</span>
              {% endfor %}
              </h4>
            </div>
        </a></li>
      {% endif %}
      {% endfor %}
      </ul>
  </div>

</section>