---
title: Press
permalink: "/press/"
layout: default
---

<section class="content">

  <div class="sec-head">
    <h4>Press & Media</h4>
   	<h2>Press Information</h2>

    <div class="col-6-6">
        <div class="col-3-6 col-ml-1">
    	   <p>For press and other media to attend the summit a press pass is required for reporters, and a photo pass for photographers. Apply by sending an email to the address below where you present your publication, if you need more than one accreditation, and if you need a photo pass.</p>

    	   <p>For applications and questions regarding press logistics please contact</p>

    	   <ul class="clean-list">
    		  <li>Maria Engström Østby</li>
    		  <li>Press Officer</li>
    		  <li>press@cs3sthlm.se</li>
    		  <li>+46 (0)70 512 42 93</li>
    	   </ul>
        </div>
        
        <div class="col-2-6 col-ms-1">
        	<h3>Please Note</h3>

   		   <p>Please note that the high profile of the summit means certain restrictions regarding photography, a photo pass does not guarantee access to the actual seminars. There will be dedicated press rooms for photo shoots and interviews, and we have staff on site that will help organize these for you.</p>
   	    </div>
    </div>
  </div>

</section>


<section class="content">

<div class="workshop--list-group">
    <h3 class="subpar-headline">2017 CS3STHLM - <span class="highlight">Press Announcements</span></h3>
    {% for post in site.categories.press %}
    {% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
    {% if year == "2017" %}
    <div class="workshop--list-item">
        <a href="{{ post.url | prepend: site.baseurl }}" class="workshop--list-link">
        <div class="workshop--meta">
            <span class="workshop--meta-date">{{ post.date | date: "%-d %b %-Y" }}</span>
            <span class="workshop--meta-category category-{{ post.categories | join: ' ' }}">{{ post.categories | join: ' ' }}</span>
        </div>
        <h2 class="workshop--list-title">{{ post.title }}</h2>
        </a>
    </div>
    {% endif %}
    {% endfor %}
</div>

</section>