---
title: Press
permalink: "/press/"
layout: default
---

<section class="content">

    {% include breadcrumbs.html %}

    <div class="content-header">
        <div class="col-4-8">
            <h4 class="sub-headline">Press & Media</h4>
            <h2 class="title title-yellow">Press Information</h2>
        </div>
    </div>

    <div class="column-block col-8-8">

        <div class="col-4-8 spacing-bottom">
            <p>For press and other media to attend the summit a press pass is required for reporters, and a photo pass for photographers. Apply by sending an email to the address below where you present your publication, if you need more than one accreditation, and if you need a photo pass.</p>

            <p>For applications and questions regarding press logistics please contact</p>

            <ul class="clean-list">
                <li>Cissi Thorell</li>
                <li>Press Officer</li>
                <li>press@cs3sthlm.se</li>
            </ul>
        </div>

        <div class="col-4-8">
            <h3 class="headline">Please Note</h3>

            <p>Please note that the high profile of the summit means certain restrictions regarding photography, a photo pass does not guarantee access to the actual seminars. There will be dedicated press rooms for photo shoots and interviews, and we have staff on site that will help organize these for you.</p>
        </div>
    </div>
</section>

<section class="content">

<div class="workshop--list-group">
    <h3 class="headline">2018 CS3STHLM - <span class="highlight">Press Announcements</span></h3>
    {% for post in site.categories.press %}
    {% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
    {% if year == "2018" %}
    <div class="workshop--list-item">
        <a href="{{ post.url | prepend: site.baseurl }}" class="workshop--list-link">
        <div class="workshop--meta">
            <span class="workshop--meta-date">{{ post.date | date: "%d %b %-Y" }}</span>
            <span class="workshop--meta-category category-{{ post.categories | join: ' ' }}">{{ post.categories | join: ' ' }}</span>
        </div>
        <h2 class="workshop--list-title">{{ post.title }}</h2>
        </a>
    </div>
    {% endif %}
    {% endfor %}
</div>

<div class="workshop--list-group">
    <h3 class="headline">2017 CS3STHLM - <span class="highlight">Press Announcements</span></h3>
    {% for post in site.categories.press %}
    {% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
    {% if year == "2017" %}
    <div class="workshop--list-item">
        <a href="{{ post.url | prepend: site.baseurl }}" class="workshop--list-link">
        <div class="workshop--meta">
            <span class="workshop--meta-date">{{ post.date | date: "%d %b %-Y" }}</span>
            <span class="workshop--meta-category category-{{ post.categories | join: ' ' }}">{{ post.categories | join: ' ' }}</span>
        </div>
        <h2 class="workshop--list-title">{{ post.title }}</h2>
        </a>
    </div>
    {% endif %}
    {% endfor %}
</div>

</section>