---
title: History
permalink: "/about/history/"
layout: default
---

<section class="content">

	{% include breadcrumbs.html %}

	<div class="content-header">
		<div class="col-8-8">
  			<h4 class="sub-headline">2014 - 2020</h4>
    		<h2 class="title title-yellow">Our Past Events</h2>
    	</div>
    </div>

    <div class="history--block">
  	{% assign sorthistory = site.data.history | sort:'year' | reverse %}
  	{% for card in sorthistory %}
  	{% if card.type == "summit" %}
	<div class="card-item card-item-filled col-2-8">
		<h2 class="title title-yellow">{{ card.year }}</h2>
		<h3 class="heading">{{ card.location }}</h3>
		<p>{{ card.date }}</p>

		<ul class="card-item-list">
			<li><span>{{ card.nr-topics }}</span>Topics</li>
			<li><span>{{ card.nr-speakers }}</span>Speakers</li>
			{% if card.nr-workshops.size > 0 %}
			<li><span>{{ card.nr-workshops }}</span>Workshops</li>
			{% endif %}
			<li><span>{{ card.nr-attendees }}</span>Attendees</li>
			{% if card.special.size > 0 %}
			<li class="card-item-list-special"><span>{{ card.special }}</span></li>
			{% endif %}
		</ul>

		{% if card.youtube contains "Coming soon" %}
		<span class="button button-primary button-yellow-inactive">Coming soon</span>
		{% else %}
		<a href="{{ card.youtube }}" target="_blank" class="button button-primary button-yellow">View at YouTube</a>
		{% endif %}

		{% if card.youtube-details != null %}
		<span class="card-item-link">{{ card.youtube-details }}</span>
		{% endif %}
	</div>
	{% endif %}
	{% endfor %}
	</div>

</section>