---
layout: default
---

<section class="content">

<!--<div class="sec-head sec-head-single-blog">
    <h4>{% if page.categories contains "blog" %}Blog{% endif %}</h4>
</div>-->

<article class="blog" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="blog-content" itemprop="articleBody">
    <!--<header class="blog-header">
      <h1 class="blog-title" itemprop="name headline">{{ page.title | escape }}</h1>
    </header>-->
    
    {{ content }}

    <div class="news-pagination">
    {% if page.previous.url %}
      <span class="previous-post"><a href="{{ site.baseurl }}{{ page.previous.url }}">{{ page.previous.title }}</a></span>
    {% endif %}

    {% if page.next.url %}
      <span class="next-post"><a href="{{ site.baseurl }}{{ page.next.url }}">{{ page.next.title }}</a></span>
    {% endif %}
    </div>
  </div>

</article>
</section>