---
layout: default
---
<section class="content">

<div class="sec-head sec-head-single-post">
    <h4>{% if page.categories contains "press" %}Press{% endif %}{% if page.categories contains "news" %}News{% endif %}</h4>
</div>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <aside class="sidebar box-right">
    <h4>Latest News</h4>

    <ul>
    {% for post in site.categories.news limit:10 %}
      <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>

    <h4>Latest Press</h4>

    <ul>
    {% for post in site.categories.press limit:10 %}
      <li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>

  </aside>

  <aside class="sidebar box-left">
    <ul>
      <li><h4>Published</h4><span class="post-time">{{ page.date | date: "%-d %b %-Y" }}</span></li>
      <li><h4>Written By</h4><span class="post-author">{{ page.author }}</span></li>

      {% if page.download != null %}
      <li>
        <h4>Post Attachments</h4>
          <span><a href="{{ site.url }}/assets/pdf/{{ page.download }}" target="_blank">{% if page.categories contains "news" %}Download PDF{% endif %}</a></span>
      </li>
      {% endif %}
      
      {% if page.pdf != null %}
      <li>
        <h4>Post Attachments</h4>
          {% for file in page.pdf %}
            {% if file.english != null %}<span><a href="{{ site.url }}/assets/pdf/{{ file.english }}" target="_blank">English</a></span>{% endif %}
            {% if file.swedish != null %}<span><a href="{{ site.url }}/assets/pdf/{{ file.swedish }}" target="_blank">Swedish</a></span>{% endif %}
          {% endfor %}
      </li>
      {% endif %}
    </ul>

    {% if page.categories contains "press" %}
    <div class="post-contact-details">
      <p>For more info contact:</p>
      <ul>
        <li>Maria Engstrom Ostby</li>
        <li>Press Officer</li>
        <li>press@cs3sthlm.se</li>
        <li>+46(0)70 512 42 93</li>
      </ul>
      <p>www.cs3sthlm.se</p>
    </div>
    {% endif %}

  </aside>

  <div class="post-content" itemprop="articleBody">
    <header class="post-header">
      <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    </header>
    
    {{ content }}

    <div class="news-pagination">
    {% if page.previous.url %}
      <span class="previous-post"><a href="{{ site.baseurl }}{{ page.previous.url }}">{{ page.previous.title }}</a></span>
    {% endif %}

    {% if page.next.url %}
      <span class="next-post"><a href="{{ site.baseurl }}{{ page.next.url }}">{{ page.next.title }}</a></span>
    {% endif %}
    </div>
  </div>

</article>
</section>