---
layout: default
---

<section class="content">

<div class="sec-head sec-head-single-post">
    <div class="block-head">
      <h4>Presentations</h4>
      {% include breadcrumbs.html %}
    </div>
</div>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <aside class="sidebar box-left">
    {% for item in page.speaker %}
    <ul class="meta-data--presentation">
      <li><h4>Author</h4><span class="post-author">{{ item.name }}</span></li>
      <li><h4>Role</h4><span class="post-author">{{ item.role }}</span></li>
      {% if item.work != null %}<li><h4>Work</h4><span class="post-author">{{ item.work }}</span></li>{% endif %}
      <li><img src="{{ site.baseurl }}/assets/speakers/{{ item.image }}"></li>
    </ul>
    {% endfor %}
  </aside>

  <div class="post-content" itemprop="articleBody">
    <header class="post-header">
      <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    </header>

    {{ content }}

    {% for presitem in site.data.speakers %}
      {{ presitem.presentation-description | markdownify }}
    {% endfor %}
  </div>

  <aside class="sidebar box-right">
    <input type="checkbox" id="row-one" />
    <label for="row-one">All Presentations</label>
    <h4>All Presentations</h4>
    <span class="icon-plus"></span>
    <ul>
    {% assign sorted_presentations = site.pages | sort: 'author' %}
    {% for page in sorted_presentations %}
    {% if page.id ==  'presentation' %}
      <li><a href="{{ page.url | prepend: site.baseurl }}">
          <span class="p-title">{{ page.title }}</span>
          {% for item in page.speaker %}
          <span class="p-author">{{ item.name }}</span>
          {% endfor %}
      </a></li>
    {% endif %}
    {% endfor %}
    </ul>
    
  </aside>

</article>
</section>