---
layout: default
---

<section class="content">
  
  {% include breadcrumbs.html %}
  
  <article class="post col-8-8 column-block" itemscope itemtype="http://schema.org/BlogPosting">

    <aside class="sidebar column-block-item col-2-8">

      {% for item in page.speaker %}
      <div class="post-meta">
        <div class="post-meta-item">
          <h4 class="sub-headline sub-headline-gray">Author</h4>
          <span class="alt-title alt-title-small">{{ item.name }}</span>
        </div>

        <div class="post-meta-item">
          <h4 class="sub-headline sub-headline-gray">Role</h4>
          <span class="alt-title alt-title-small">{{ item.role }}</span>
        </div>

        {% if item.work != null %}
        <div class="post-meta-item">
          <h4 class="sub-headline sub-headline-gray">Work</h4>
          <span class="alt-title alt-title-small">{{ item.work }}</span>
        </div>
        {% endif %}

        <div class="post-meta-item">
          <img src="{{ site.baseurl }}/assets/speakers/{{ item.image }}" class="post-meta-item-image">
        </div>
      </div>
      {% endfor %}

    </aside>

    <section class="post-content column-block-item col-5-8 spacing-left" itemprop="articleBody">

      <header class="post-header">
        <h1 class="title title-yellow" itemprop="name headline">{{ page.title | escape }}</h1>
      </header>

      {{ content }}

      {% for presitem in site.data.speakers %}
      {{ presitem.presentation-description | markdownify }}
      {% endfor %}

    </section>

    <!--
    <aside class="sidebar box-right">
    <input type="checkbox" id="row-one" />
    <label for="row-one">All Presentations</label>
    <h4>All Presentations</h4>
    <span class="icon-plus"></span>
    <ul>
    {% assign sorted_presentations = site.pages | sort: 'author' %}
    {% for page in sorted_presentations %}
    {% if page.id ==  'presentation' %}
    <li><a href="{{ page.url | prepend: site.baseurl }}">
    <span class="p-title">{{ page.title }}</span>
    {% for item in page.speaker %}
    <span class="p-author">{{ item.name }}</span>
    {% endfor %}
    </a></li>
    {% endif %}
    {% endfor %}
    </ul>
    </aside>
    -->

  </article>
</section>