---
layout: default
---

<section class="content">

  {% include breadcrumbs.html %}

  {% include oldcontent.html %}
  
  <article class="post col-8-8 column-block" itemscope itemtype="http://schema.org/BlogPosting">

    <aside class="sidebar column-block-item col-2-8">

      {% for item in page.speaker %}
      <div class="post-meta">

        <div class="post-meta-item">
          <h4 class="sub-headline sub-headline-gray">Taugh by</h4>
          <span class="alt-title alt-title-small">{{ item.name }}</span>
        </div>

        <div class="post-meta-item">
          <h4 class="sub-headline sub-headline-gray">Role</h4>
          <span class="alt-title alt-title-small">{{ item.role }}</span>
        </div>

        <div class="post-meta-item">
          <h4 class="sub-headline sub-headline-gray">Company</h4>
          <span class="alt-title alt-title-small">{{ item.work }}</span>
        </div>

        <div class="post-meta-item">
          <img src="{{ site.baseurl }}/assets/speakers/{{ item.image }}.png" class="post-meta-item-image">
        </div>

      </div>
      {% endfor %}

    </aside>

    <section class="post-content column-block-item col-5-8 spacing-left" itemprop="articleBody">

      <header class="post-header">

        <div class="post-meta post-meta-row">

          <div class="post-meta-item">
            <h4 class="sub-headline sub-headline-gray">Status</h4>
            {% if page.status contains "Slots Open" %}
            <span class="alt-title alt-title-small alt-title alt-title-yellow">{{ page.status }}</span>
            {% endif %}

            {% if page.status contains "Cancelled" %}
            <span class="alt-title alt-title-small alt-title alt-title-gray">{{ page.status }}</span>
            {% endif %}

            {% if page.status contains "Sold Out" %}
            <span class="alt-title alt-title-small alt-title alt-title-red">{{ page.status }}</span>
            {% endif %}
          </div>

          <div class="post-meta-item">
            <h4 class="sub-headline sub-headline-gray">Date</h4>
            <span class="alt-title alt-title-small">{{ page.date }}</span>
          </div>
        </div>

        <h1 class="title title-yellow" itemprop="name headline">{{ page.title }}</h1>
      </header>

      {{ content }}
  
    </section>

  </article>

</section>