---
layout: default
---

<section class="content">

<div class="sec-head sec-head-single-post">
    <div class="block-head">
      <h4>Training</h4>
      {% include breadcrumbs.html %}
    </div>
</div>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <aside class="sidebar box-left">
    <h4>Duration</h4>
    <span class="post-time">{{ page.time }}</span>

    {% for item in page.speaker %}
    <ul class="meta-data--presentation">
      <li><h4>Taught By</h4><span class="post-author">{{ item.name }}</span></li>
      <li><h4>Role</h4><span class="post-role">{{ item.role }}</span></li>
      <li><h4>Company</h4><span class="post-company">{{ item.work }}</span></li>
      <li><img src="{{ site.baseurl }}/assets/speakers/{{ item.image }}"></li>
    </ul>
    {% endfor %}
  </aside>

  <div class="post-content" itemprop="articleBody">
    <header class="post-header">
      <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    </header>

    {{ content }}
  </div>

  <aside class="sidebar box-right">
    <input type="checkbox" id="row-one" />
    <label for="row-one">All Trainings & Tutorials</label>
    <h4 class="checkbox-subline">All Trainings & Tutorials</h4>
    <span class="icon-plus"></span>

    <ul>
    {% assign sorted_trainings = site.pages | sort: 'url' %}
    {% for page in sorted_trainings %}
    {% if page.id ==  'training' %}
      <li><a href="{{ page.url | prepend: site.baseurl }}">
          <span class="p-title">{{ page.title }}</span>
          <span class="p-time">{{ page.time }}</span>
          {% for item in page.speaker %}
          <span class="p-author">{{ item.name }}</span>
          {% endfor %}
      </a></li>
    {% endif %}
    {% endfor %}
    </ul>
  </aside>

</article>

  <a href="https://tickets.cs3sthlm.se" target="_blank" class="btn btn-primary btn-yellow btn-ticket">Buy Ticket</a>

</section>