---
layout: default
title: Workshops
permalink: "/program/workshops/"
---

<section class="content">

  <div class="sec-head">
    <h4>Workshops & Trainings</h4>
    <div class="block-head">
      <h2>World Class Content</h2>
      <a href="{{ site.baseurl }}/program/speakers/" class="btn btn-primary">View Speakers</a>
    </div>

    <div class="col-6-6">
        <div class="col-3-6 col-ml-1">
    	   <p>On the 24th of October, the day before the summit, we will provide different full day, tutorials and training, with world renowned experts. We have tutorials in a number of different areas such as forensics in computers and in networks, introduction to cybersecurity standards, and information gathering. The tutorials ranging from theoretical overviews via hands-on practical to highly technical classes.</p>

    	   <p>Tutorials are availabe by choosing "combo tickets" for CS3STHLM, in which training is included. When register for CS3STHLM you can select which training you are interested in participating.</p>
        </div>
        
        <div class="col-2-6 col-ms-1">
        	<h3>Please Note</h3>

   		   <p>These workshops/tutorials/trainings are the first ones announced. There will be more available in the weeks to come. Do not hessitate to register for one now, we will try to help you if you at a later stage want to switch to one of the later announced trainings.</p>

   		   <p>Due to the high level of interaction with trainers and complexity of the lab environment, most training classes have limited numbers of seats (15-20 seats). Each training class will be available on first come, first serve basis. We know that some training classes will be in high demand, so if you really want to get some specific training slot, be sure to reserve your seat as early as possible!</p>
   	    </div>
    </div>
  </div>

</section>

<section class="content">

  <div class="workshop--block-group">
    <h3 class="subpar-headline">2017 CS3STHLM - <span class="highlight">All Workshops & Trainings</span></h3>
    {% for page in site.pages %}
    {% if page.id ==  'workshop' %}
    <a href="{{ page.url | prepend: site.baseurl }}" class="workshop--block-item">
      <img src="{{ site.baseurl }}/assets/speakers/{{ page.image }}">
      <div class="workshop--block-content">
        <h2 class="workshop--block-title">{{ page.title }}</h2>
        <div class="workshop--meta">
          <span class="workshop--meta-time">{{ page.time }}</span>
          <span class="workshop--meta-author">{{ page.author }}</span>
        </div>
        <p>{{ page.content | strip_html | truncatewords: 38 }}</p>
      </div>
    </a>
    {% endif %}
    {% endfor %}
  </div>

</section>